<app-breadcrumb [btnAdd]="breadcrumbFlags.btnAdd" [btnSave]="breadcrumbFlags.btnSave"
  (eventAddUpload)="getEmployerInstitution(2);" (eventAdd)="openForm();getEmployerInstitution(1);"
  [btnAddUpload]="btnAddUpload" [btnAddDisabled]="!screenAuth.addFlag" [btnBack]="breadcrumbFlags.btnBack"
  [btnReset]="breadcrumbFlags.btnReset" [btnResetTbl]="breadcrumbFlags.btnResetTbl" [routePath]="routePath"
  (eventBack)="closeForm()" (eventSave)="saveFakeEmpIns()" [toolTip]="breadcrumbFlags.toolTip"
(eventReset)="resetForm()" (eventResetTbl)="resetTable()"></app-breadcrumb>


<div fxLayout="row">
  <div fxFlex="100%">
    <mat-card>

      <mat-card-title>
        <div fxLayout="row">
          <div fxFlex="100%">
            <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
              fxLayoutGap="10px grid">
              <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
                fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
                <h1 class="header-title">Fake Institution</h1>
              </div>
              <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%" fxHide.xs
                fxLayoutAlign="end center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
                @if (showGrid) {
                  <div class="tbl-commonsearch">
                    <mat-form-field fxFlex="100%">
                      <mat-label></mat-label>
                      <mat-icon matPrefix>search</mat-icon>
                      <input #global matInput placeholder="Search here..." type="text" pInputText size="50"
                        autocomplete="off" (input)="dt?.filterGlobal($event.target.value, 'contains')" />
                      </mat-form-field>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </mat-card-title>


        <mat-card-content>
          @if (!showGrid) {
            <div>
              @if (showBulkUpload) {
                <div class="content-area">
                  <app-bulk-export-import [empIns]="empIns" (backEvent)="closeForm()" [isFake]="true" [verSt]="false">
                  </app-bulk-export-import>
                </div>
              }
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="20px">
                <div fxFlex="70%">
                  @if (!showBulkUpload) {
                    <form [formGroup]="fakeInsForm" autocomplete="off" role="presentation" id="ngForm"
                      >
                      <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                        fxLayoutGap="20px grid">
                        <div fxFlex="50%">
                          <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                            <mat-label>Institution Name</mat-label>
                            <input matInput #fkIns placeholder="Institution Name" (select)="fkIns.select()"
                              formControlName="name" maxlength="100" [matAutocomplete]="auto" (focus)="setItems(fkIns.value)"
                              (keyup)="keyUpFunction($event,fkIns.value)" (input)="setItems(fkIns.value)" autocomplete="off"
                              role="presentation" (blur)="checkValidfakeInsValue(fkIns.value)" required>
                              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayDataFn">
                                @for (fake of fakeInsFilterList; track fake) {
                                  <mat-option [value]="fake.name" [disabled]="true"
                                    class="autocom-option autocom-tr">
                                    <span [innerHTML]="fake.name | highlight: fkIns.value"></span></mat-option>
                                  }
                                </mat-autocomplete>
                                <mat-hint>({{ fkIns?.value?.length }}/100 Max)</mat-hint>
                                @if (fakeInsForm.get('name').invalid) {
                                  <mat-error>
                                    Institution name is required
                                  </mat-error>
                                }
                              </mat-form-field>
                            </div>
                            <div fxFlex="50%">
                              <app-auto-complete [selectProperties]='clientControls'></app-auto-complete>
                            </div>
                          </div>
                          @if (!showInst) {
                            <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                              fxLayoutGap="20px grid">
                              <div fxFlex="33.33%">
                                <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                  <mat-label>Category</mat-label>
                                  <mat-select formControlName="categoryLookupId" placeholder="Select Category"
                                    (selectionChange)="checkOthers($event)">
                                    <!-- <mat-option>-------Select Category--------</mat-option> -->
                                    @for (ctgry of fakeEmpInsCategory; track ctgry) {
                                      <mat-option [value]="ctgry.lookUpId">
                                      {{ctgry.lookUpName}}</mat-option>
                                    }
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div fxFlex="33.33%">
                                <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                  <mat-label>Date Declared Fake</mat-label>
                                  <input matInput [matDatepicker]="picker1" mat-autofocus="true" readonly=true appNumberOnly
                                    [NumberOnlyWithslash]="false" formControlName="fakeDeclaredDate" preventCutCopyPaste
                                    placeholder="Date Declared Fake" (focus)="picker1.open()" (click)="picker1.open()">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                  </mat-form-field>
                                </div>
                                <div fxFlex="33.33%">
                                  @if (othersData==='Others') {
                                    <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                      <mat-label>Others</mat-label>
                                      <input matInput placeholder="Others" formControlName="categoryValue">
                                      @if (!!fakeInsForm.get('categoryValue')?.errors?.incorrect) {
                                        <mat-error>
                                          Others is required
                                        </mat-error>
                                      }
                                    </mat-form-field>
                                  }
                                </div>
                              </div>
                            }
                            @if (!showInst) {
                              <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                                fxLayoutGap="20px grid">
                                <div fxFlex="33.33%">
                                  <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                    <mat-label>Source</mat-label>
                                    <textarea #src formControlName="source" maxlength="200" matInput placeholder="source"> </textarea>
                                    <mat-hint>({{ src?.value?.length }}/200 Max)</mat-hint>
                                  </mat-form-field>
                                </div>
                                <div fxFlex="33.33%">
                                  <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                    <mat-label>Research / Remarks</mat-label>
                                    <textarea #remarks formControlName="remarks" maxlength="200" matInput
                                    placeholder="Research / Remarks"> </textarea>
                                    <mat-hint>({{ remarks?.value?.length }}/200 Max)</mat-hint>
                                  </mat-form-field>
                                </div>
                                <div fxFlex="33.33%">
                                  <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                                    <mat-label>Comments</mat-label>
                                    <textarea #comments formControlName="comments" maxlength="200" matInput
                                    placeholder="Comments"> </textarea>
                                    <mat-hint>({{ comments?.value?.length }}/200 Max)</mat-hint>
                                  </mat-form-field>
                                </div>
                              </div>
                            }
                            <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
                              <div fxFlex="100%">
                                <h3 class="sub-header">Address Details</h3>
                              </div>
                            </div>
                            <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                              fxLayoutGap="20px grid">
                              <div fxFlex="100%">
                                <app-address [addressformgrp]="fakeInsForm" [addressList]="addList"></app-address>
                              </div>
                            </div>
                          </form>
                        }
                      </div>
                      <div fxFlex="30%"></div>
                    </div>
                  </div>
                }

                @if (showGrid) {
                  <div fxLayout="row" fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                    fxLayoutGap="20px" fxLayoutGap.sm="10px" fxLayoutGap.xs="10px">
                    <div fxFlex="100%">
                      <p-table #dt [columns]="instituteColumns" [value]="fakeEmpInsList" [resizableColumns]="true"
                        [reorderableColumns]="true" [scrollable]="true" [paginator]="true" [rows]="10" frozenWidth="100px"
                        [frozenColumns]="frozenCols">
                        <!-- COLGROUP -->
                        <ng-template pTemplate="colgroup" let-colgroupCols>
                          <colgroup>
                          @for (col of colgroupCols; track col) {
                            <col style="width:150px" />
                          }
                        </colgroup>
                      </ng-template>
                      <!-- HEADER -->
                      <ng-template pTemplate="header" let-headerCols>
                        <tr>
                          @for (col of headerCols; track col) {
                            <th pReorderableColumn pResizableColumn>
                              <span [pSortableColumn]="col.field">
                                <div class="thname">{{ col.header }}</div>
                                @if (col.field !== 'action') {
                                  <p-sortIcon [field]="col.field">
                                  </p-sortIcon>
                                }
                              </span>
                              <!-- all filters / menus unchanged -->
                            </th>
                          }
                        </tr>
                      </ng-template>
                      <!-- BODY -->
                      <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-bodyCols="columns">
                        <tr>
                          @for (col of bodyCols; track col) {
                            <td [ngClass]="{'desg-bg': col.field === 'action'}">
                              {{ rowData[col.field] }}
                              @if (col.field === 'action') {
                                <div fxLayout="row" class="desg-icon">
                                  <mat-icon matTooltip="Edit" [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''">
                                    <i class="material-icons-outlined" (click)="editFakeEmpIns(rowData)">edit</i>
                                  </mat-icon>
                                  <mat-icon matTooltip="Delete"
                                    [ngClass]="screenAuth.deleteFlag === false ? 'page-btn disabled' : ''">
                                    <i class="material-icons-outlined" (click)="openDialog(rowData.empInsId)">delete</i>
                                  </mat-icon>
                                </div>
                              }
                            </td>
                          }
                        </tr>
                      </ng-template>
                    </p-table>
                    <div class="cus-paginator">
                      <div fxLayout="">
                        <div fxFlex="30%">
                          Showing {{ dt.totalRecords < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0 ? dt.rows + dt.first <=
                          dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of {{ dt.totalRecords }} record(s)
                        </div>
                        <span fxFlex></span>
                        <div fxFlex="50%" fxLayoutAlign="end center">
                        <a [ngClass]="dt.first === 0 ? 'page-btn disabled' : 'page-btn'" (click)="
                    dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)">
                            <i class="icon-control-start mr-5"></i></a>
                            <span class="gotopagbg mr-2 ml-2">Go to Page<span class="input-num">
                              <input type="number" #pageNo [(ngModel)]="currentPage" maxlength="5" appNumberOnly
                              [NumberOnly]="false" (keyup.enter)="navigatePage(pageNo.value, dt.rows)" /> </span></span>
                              <span class="mr-2">Of {{ getTotalPages(dt.totalRecords, dt.rows) }}</span>
                        <a [ngClass]="
                    dt.rows + dt.first >= dt.totalRecords
                      ? 'page-btn disabled' : 'page-btn'" (click)="
                    dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)
                  "><i class="icon-control-start ml-5"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    }

                  </mat-card-content>
                </mat-card>


              </div>
            </div>
            <ng-template #deleteConfirm>
              <div class="confirm-pop">
                <h1 mat-dialog-title>Confirmation</h1>
                <mat-dialog-content>
                  <p>Delete Reason</p>
                  <form [formGroup]='fakeInsForm'>
                    <div fxLayout="row" class="pt-15">
                      <div fxFlex="100%">
                        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                          <mat-label>Delete Reason</mat-label>
                          <textarea #reason formControlName="removedReason" maxlength="200" matInput placeholder="Delete Reason">
                          </textarea>
                          <mat-hint>({{ reason?.value?.length }}/200 Max)</mat-hint>
                          @if (!!fakeInsForm.get('removedReason')?.errors?.incorrect) {
                            <mat-error>
                              Delete Reason is required
                            </mat-error>
                          }
                        </mat-form-field>
                      </div>
                    </div>
                  </form>
                </mat-dialog-content>
                <mat-dialog-actions fxLayoutGap="8px" fxLayoutAlign="center center">
                  <button mat-stroked-button (click)="dialogClose()">No, Keep it</button>
                  <button mat-flat-button color="warn" (click)="deleteFakeEmpInsDetail()">Delete</button>
                </mat-dialog-actions>
              </div>
            </ng-template>
            <ng-template #searchMasterScreen class="warning-digBox">
              <div class="confirm-pop">
                <h1 mat-dialog-title>Existing Data Match Found</h1>
                <mat-dialog-content>
                  @if (soundexFakeInsList?.length > 0) {
                    <span>
                      <span><b>These are the matching vendor list</b></span>
                      <div class="mt-15">
                        <div fxFlex="100%">
                          <p-table #dt [columns]="instituteColumns" [value]="soundexFakeInsList" [scrollable]="true"
                            [resizableColumns]="true" [reorderableColumns]="true" [paginator]="true" [rows]="10">
                            <!-- COLGROUP -->
                            <ng-template pTemplate="colgroup" let-colgroupCols>
                              <colgroup>
                              @for (col of colgroupCols; track col) {
                                <col style="min-width:150px" />
                              }
                            </colgroup>
                          </ng-template>
                          <!-- HEADER -->
                          <ng-template pTemplate="header" let-headerCols>
                            <tr>
                              @for (col of headerCols; track col) {
                                <th pReorderableColumn pResizableColumn>
                                  <span [pSortableColumn]="col.field">
                                    <div class="thname" matTooltip="{{ col.header }}" matTooltipClass="accent-tooltip">
                                      {{ col.header }}
                                    </div>
                                    @if (col.field !== 'action') {
                                      <p-sortIcon [field]="col.field">
                                      </p-sortIcon>
                                    }
                                  </span>
                                  <!-- all search icons / menus remain unchanged -->
                                </th>
                              }
                            </tr>
                          </ng-template>
                          <!-- BODY -->
                          <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-bodyCols="columns">
                            <tr>
                              @for (col of bodyCols; track col) {
                                <td matTooltip="{{ rowData[col.field] }}"
                                  matTooltipClass="accent-tooltip" [ngClass]="{ 'desg-bg': col.field === 'action' }">
                                  @if (col.field !== 'active') {
                                    <div>
                                      {{ rowData[col.field] }}
                                    </div>
                                  }
                                  @if (col.field === 'active') {
                                    <div>
                                      <div fxLayout="row" class="tbl-icon">
                                        @if (rowData.active) {
                                          <span class="istrue">
                                            <i class="material-icons" matTooltip="Active" matTooltipClass="accent-tooltip">
                                              thumb_up
                                            </i>
                                          </span>
                                        }
                                        @if (!rowData.active) {
                                          <span class="isfalse">
                                            <i class="material-icons" matTooltip="In-Active" matTooltipClass="accent-tooltip">
                                              thumb_down
                                            </i>
                                          </span>
                                        }
                                      </div>
                                    </div>
                                  }
                                </td>
                              }
                            </tr>
                          </ng-template>
                        </p-table>
                        <div class="cus-paginator" [ngClass]="{'empty-record': soundexFakeInsList?.length == 0}">
                          <div fxLayout="">
                            <div fxFlex="30%"> Showing {{ dt.totalRecords
                              < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0 ? dt.rows + dt.first
                              <=dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of {{ dt.totalRecords }} record(s)
                            </div>
                            <span fxFlex></span>
                            <div fxFlex="50%" fxLayoutAlign="end center"> <a
                          [ngClass]="dt.first === 0 ? 'page-btn disabled' : 'page-btn'" (click)="
                            dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                            navigateNxtPrevPage(dt.first + dt.rows, dt.rows)
                          "> <i class="icon-control-start mr-5"></i></a> <span class="gotopagbg mr-2 ml-2">Go
                              to Page<span class="input-num">
                              <input type="number" #pageNo min="1" [(ngModel)]="currentPage" maxlength="5" appNumberOnly
                                [NumberOnly]="false" (keyup.enter)="navigatePage(pageNo.value, dt.rows)" />
                                </span></span> <span class="mr-2">Of {{ getTotalPages(dt.totalRecords, dt.rows) }}</span> <a
                          [ngClass]="
                            dt.rows + dt.first >= dt.totalRecords
                              ? 'page-btn disabled'
                              : 'page-btn'
                          " (click)="
                            dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                            navigateNxtPrevPage(dt.first + dt.rows, dt.rows)
                          "><i class="icon-control-end ml-5"></i></a> </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <span>Do you want to get approve for - <b>{{searchName}}...?</b></span>
                      </span>
                    }
                    @if (soundexFakeInsList?.length == 0) {
                      <span>No existing data found do you want to get approve for -
                        <b>{{searchName}}...?</b></span>
                      }

                    </mat-dialog-content>
                    <mat-dialog-actions fxLayoutGap="8px" fxLayoutAlign="center center">
                      <button mat-stroked-button (click)="onSave()">Yes</button>
                      <button mat-flat-button color="warn" (click)="onCancel()">No</button>
                    </mat-dialog-actions>
                  </div>
                </ng-template>