<app-breadcrumb [btnResetTbl]="btnResetTbl" [btnBack]="btnBack" [btnSave]="btnSave" [toolTip]="toolTip"
  [btnSaveDisabled]="!screenAuth.addFlag" [btnApproveDisabled]="!screenAuth.approveFlag" [btnApprove]="btnApprove"
  [btnReject]="btnReject" (eventSave)="saveTatApproval('Update')" (eventApprove)="saveTatApproval('Approved')"
  (eventReject)="saveTatApproval('Rejected')" (eventBack)="backToSearch()" [routePath]='routePath'
(eventResetTbl)="tblReset()"> </app-breadcrumb>

<div fxLayout="row">
  <div fxFlex="100%">
    <mat-card>

      <div fxLayout="row">

        <mat-card-header fxFlex="100%">
          <div fxFlex="100%">
            <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
              fxLayoutGap="10px">
              <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%"
                fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
                <mat-card-title>
                  <h1 class="header-title">TAT Approval</h1>
                </mat-card-title>
              </div>
              <span fxFlex></span>
              <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="100%" fxHide.xs
                fxLayoutAlign="end center" fxLayoutAlign.sm="end center">
                @if (showGrid) {
                  <div class="tbl-commonsearch">
                    <mat-form-field fxFlex="100%">
                      <mat-label></mat-label>
                      <mat-icon matPrefix><i class="icon-search1"></i></mat-icon>
                      <input #global matInput size="50" placeholder="Search..." autocomplete="off"
                        (input)="dt?.filterGlobal($event.target.value, 'contains')"
                        (keypress)="dt.reset();dt?.filterGlobal($event.target.value, 'contains');componentNameControl.reset();clientNameControl.reset();tatCtl.reset();" />
                        @if (global.value) {
                          <button mat-button matSuffix mat-icon-button aria-label="Clear"
                          (click)="global.value = '';dt?.filterGlobal($event.target.value, 'contains')"></button>
                        }
                      </mat-form-field>
                    </div>
                  }
                </div>
              </div>
            </div>
          </mat-card-header>

        </div>


        <mat-card-content>
          @if (showGrid) {
            <div fxLayout="row wrap">
              <div fxFlex="100%">
                <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                  fxLayoutGap="0px grid">
                  <div fxFlex="100%">
                    <p-table #dt [columns]="filedname" [value]="tatApprovalGridList" [resizableColumns]="true"
                      [reorderableColumns]="true" [scrollable]="true" [paginator]="true" [rows]="itemperpage">
                      <!-- ================= COLGROUP ================= -->
                      <ng-template pTemplate="colgroup" let-colGroupCols>
                        <colgroup>
                        @for (col of colGroupCols; track col) {
                          <col style="width:150px" />
                        }
                      </colgroup>
                    </ng-template>
                    <!-- ================= HEADER ================= -->
                    <ng-template pTemplate="header" let-headerCols>
                      <tr>
                        @for (col of headerCols; track col) {
                          <th pReorderableColumn pResizableColumn>
                            <span [pSortableColumn]="col.field" matTooltip="{{ col.header }}"
                              matTooltipClass="accent-tooltip">
                              <div class="thname">{{ col.header }}</div>
                              @if (col.field !== 'action') {
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                  ariaLabelDesc="Activate to sort in descending order"
                                  ariaLabelAsc="Activate to sort in ascending order">
                                </p-sortIcon>
                              }
                            </span>
                            <!-- SEARCH ICONS & MENUS (UNCHANGED) -->
                          </th>
                        }
                      </tr>
                      <!-- HIDDEN SEARCH ROW -->
                      <tr style="display:none">
                        @for (col of headerCols; track col) {
                          <th class="tbl-Column-seacrh">
                            @if (col.field !== 'Actions') {
                              <mat-form-field>
                                <input matInput placeholder="{{ col.header }}"
                                  (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" />
                                </mat-form-field>
                              }
                            </th>
                          }
                        </tr>
                      </ng-template>
                      <!-- ================= BODY ================= -->
                      <ng-template pTemplate="body" let-rowData let-bodyCols="columns">
                        <tr>
                          @for (col of bodyCols; track col) {
                            <td
                              [ngClass]="{ 'desg-bg': col.field === 'action' }">
                              @if (col.field !== 'status') {
                                <div>
                                  @if (col.field === 'clientName') {
                                    <div>
                                      {{ rowData.clientName }}
                                    </div>
                                  }
                                  @if (col.field === 'componentName') {
                                    <div>
                                      {{ rowData.componentName }}
                                    </div>
                                  }
                                  @if (col.field === 'requestedByFirstName') {
                                    <div>
                                      {{ rowData.requestedByFirstName }}
                                    </div>
                                  }
                                  @if (col.field === 'requestTat') {
                                    <div class="text-right">
                                      {{ rowData.requestTat }}
                                    </div>
                                  }
                                  @if (col.field === 'reqEffectiveDate') {
                                    <div>
                                      {{ rowData.reqEffectiveDate | date:'dd/MM/yyyy' }}
                                    </div>
                                  }
                                  <!-- ACTION -->
                                  @if (col.field === 'action') {
                                    <div fxLayout="row" class="desg-icon">
                                      <div fxFlex="100%" fxLayoutGap="10px">
                                        @if (rowData.status === 'Pending') {
                                          <mat-icon matTooltip="Edit"
                                            matTooltipClass="accent-tooltip"
                                            [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''">
                                            <i (click)="editTatApprovalByID(rowData)" class="material-icons-outlined">
                                              edit
                                            </i>
                                          </mat-icon>
                                        }
                                        @if (rowData.status === 'Approved' || rowData.status === 'Rejected') {
                                          <mat-icon
                                            matTooltip="View" matTooltipClass="accent-tooltip"
                                            [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''">
                                            <i (click)="editTatApprovalByID(rowData)" class="material-icons-outlined">
                                              remove_red_eye
                                            </i>
                                          </mat-icon>
                                        }
                                      </div>
                                    </div>
                                  }
                                </div>
                              }
                              <!-- STATUS -->
                              @if (col.field === 'status') {
                                <div>
                                  @if (rowData.status === 'Pending') {
                                    <div class="status pending">
                                      {{ rowData.status }}
                                    </div>
                                  }
                                  @if (rowData.status === 'Rejected') {
                                    <div class="status rejected">
                                      {{ rowData.status }}
                                    </div>
                                  }
                                  @if (rowData.status === 'Approved') {
                                    <div class="status approved">
                                      {{ rowData.status }}
                                    </div>
                                  }
                                </div>
                              }
                            </td>
                          }
                        </tr>
                      </ng-template>
                    </p-table>
                    ``
                  </div>
                </div>
                <div class="cus-paginator" [ngClass]="{'empty-record': tatApprovalGridList.length == 0}"
                  fxLayout.lg="row wrap" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px grid"
                  fxLayoutGap.sm="20px grid" fxLayoutGap.xs="20px grid">
                  <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="start center"> Showing {{ dt.totalRecords
                    < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0 ? dt.rows + dt.first
                    <=dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of {{ dt.totalRecords }} record(s) |
                    &nbsp;<a (click)="showall()">Show All</a>
                  </div>
                  <span fxFlex fxHide.md fxHide.sm fxHide.xs></span>
                  <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="end center" fxLayoutAlign.md="end center" fxLayoutAlign.sm="start center"
                    fxLayoutAlign.xs="start center">
                <a [ngClass]="dt.first===0?'page-btn disabled': 'page-btn'" (click)="dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                        navigateNxtPrevPage(dt.first + dt.rows,dt.rows)"> <i class="icon-control-start mr-5"></i></a>
                      <span class="gotopagbg mr-2 ml-2" fxHide.xs>Go
                        to Page<span class="input-num">
                        <input type="number" #pageNo [(ngModel)]="currentPage" maxlength="5" appNumberOnly
                          [NumberOnly]="false" min="1" (keyup.enter)="navigatePage(pageNo.value,dt.rows)" />
                        </span></span> <span class="mr-2" fxHide.xs> of
                      {{ getTotalPages(dt.totalRecords,dt.rows) }}</span> <a
                  [ngClass]="(dt.rows + dt.first)>=dt.totalRecords?'page-btn disabled': 'page-btn'" (click)="dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                            navigateNxtPrevPage(dt.first + dt.rows,dt.rows)"><i class="icon-control-end ml-5"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (!showGrid) {
              <div>
                <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column wrap"
                  fxLayout.xs="column" fxLayoutGap="0px grid">
                  <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <div class="client-details">
                      <div  class="client-avatar" fxHide.sm fxHide.xs><i  class="icon-referencecheck"></i></div>
                      <div class="client-data">
                        <h3 matTooltip="Client details" matTooltipClass="accent-tooltip">
                        {{ tatApprovalobj?.clientName }}</h3>
                        <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap"
                          fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutGap.sm="10px grid" fxLayoutGap.xs="0px grid">
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <p>
                              <label>Component Name:</label>
                              <span>{{ tatApprovalobj?.componentName }}</span>
                            </p>
                          </div>
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <p>
                              <label>Tat Count:</label>
                              <span>{{ tatApprovalobj?.originalTat }}</span>
                            </p>
                          </div>
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <p>
                              <label>Requested Tat:</label>
                              <span>{{ tatApprovalobj?.requestTat }}</span>
                            </p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap"
                          fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutGap.sm="10px grid" fxLayoutGap.xs="0px grid">
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%"
                            ngClass.sm="mb-15" ngClass.xs="mb-15">
                            <p>
                              <label>Status:</label>
                              <span>{{ tatApprovalobj?.status }}</span>
                            </p>
                          </div>
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <p>
                              <label>Requested Date:</label>
                              <span>{{ tatApprovalobj?.reqEffectiveDate | date:'dd/MM/yyyy'}}</span>
                            </p>
                          </div>
                          <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
                            <p>
                              <label>Requested By:</label>
                              <span>{{ tatApprovalobj?.requestedByFirstName }}</span>
                            </p>
                          </div>
                        </div>
                        <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap"
                          fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutGap.sm="10px grid" fxLayoutGap.xs="0px grid">
                          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                            <p>
                              <label>Requester Comments:</label>
                              <span>{{ tatApprovalobj?.reason }}</span>
                            </p>
                          </div>
                          @if (requestorDocList?.length > 0) {
                            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                              >
                              <p>
                                <label>Requester's Document:</label>
                                @for (document of requestorDocList; track document) {
                                  <span><a (click)="downloadDoc(document)"
                                    routerLinkActive="active-link">
                                    <i class="icon-file-text"></i>
                                  {{document.fileName ? document.fileName : '--'}} </a> </span>
                                }
                                @if (requestorDocList?.length===0||requestorDocList===null) {
                                  <span> --
                                  </span>
                                }
                              </p>
                            </div>
                          }
                        </div>
                        <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap"
                          fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutGap.sm="10px grid" fxLayoutGap.xs="0px grid">
                          @if (tatApprovalobj?.approveComments) {
                            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                              >
                              <p>
                                <label>Approver Comments:</label>
                                <span>{{ tatApprovalobj?.approveComments }}</span>
                              </p>
                            </div>
                          }
                          @if (approverDocList?.length > 0) {
                            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%"
                              >
                              <p>
                                <label>Approver's Document:</label>
                                @for (document of approverDocList; track document) {
                                  <span><a (click)="downloadDoc(document)"
                                    routerLinkActive="active-link">
                                    <i class="icon-file-text"></i>
                                  {{document.fileName ? document.fileName : '--'}} </a> </span>
                                }
                                @if (approverDocList?.length===0||approverDocList===null) {
                                  <span> --
                                  </span>
                                }
                              </p>
                            </div>
                          }
                          <div fxFlex="33.33%"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <form [formGroup]="tatFormGroup" id="ngForm">
                  @if (tatApprovalobj?.status ==='Pending') {
                    <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column"
                      fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid"
                      class="mt-10">
                      <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="30%">
                        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                          <mat-label>Comments</mat-label>
                          <textarea #msgCount formControlName='comments' matInput maxlength="1000" placeholder="Comments"
                          required></textarea>
                          @if (!!tatFormGroup?.get('comments')?.errors?.required) {
                            <mat-error> Comments is Required
                            </mat-error>
                          }
                          <mat-hint class="f-13"> ({{msgCount.value.length}} /1000 max) </mat-hint>
                        </mat-form-field>
                      </div>
                      <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="30%">
                        <mat-label class="lbl">Approver Attached Documents</mat-label>
                        <div class="file-upload"> <i class="material-icons">cloud_upload</i> <span>Browse
                      here...</span>
                      <input type="file" #fileInput (change)="openUploadDoc($event)" multiple
                        formControlName="tatApproval" />
                      </div>
                      <div class="file-names mt-10">
                        @for (document of dupclientCompTatApproveDoc; track document; let i = $index) {
                          <div class="file-upload-files"> @if (document.fileName) {
                            <a
                              (click)="downloadDoc(document)"
                            routerLinkActive="active-link">{{document.fileName}}</a>
                          }
                          <button type="button" class="close" aria-label="Close" (click)="removeDocument(document,i)"> <span
                          aria-hidden="true">&times;</span> </button>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              }
            </form>
          </div>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>