<app-breadcrumb [btnAdd]="breadcrumbFlags.btnAdd" [btnSave]="breadcrumbFlags.btnSave"
  [btnBack]="breadcrumbFlags.btnBack" [btnReset]="breadcrumbFlags.btnReset" [btnResetTbl]="breadcrumbFlags.btnResetTbl"
  (eventAdd)="addForm()" [routePath]="'Configure / Master / LookUp Values'" [btnAddDisabled]="!screenAuth.addFlag"
  (eventBack)="backForm()" (eventSave)="saveForm()" [toolTip]="breadcrumbFlags.toolTip" (eventReset)="resetForm()"
  (eventResetTbl)="resetTable()"></app-breadcrumb>
<mat-card>
  <div fxLayout="row">
    <mat-card-header fxFlex="100%">
      <div fxFlex="100%">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutGap="10px">
          <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%"
            fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
            <mat-card-title>
              <h1 class="header-title">LookUp Values</h1>
            </mat-card-title>
          </div>
          <span fxFlex></span>
          <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="100%" fxHide.xs
            fxLayoutAlign="end center" fxLayoutAlign.sm="end center">
            <div class="tbl-commonsearch" *ngIf="!showFlag">
              <mat-form-field fxFlex="100%">
                <mat-label></mat-label>
                <mat-icon matPrefix><i class="icon-search1"></i></mat-icon>
                <input #global matInput placeholder="Search here..." type="text" pInputText size="50" autocomplete="off"
                  (input)="dt?.filterGlobal($event.target.value, 'contains')" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card-header>
  </div>
  <mat-card-content>
    <div class="content-area">
      <form *ngIf="showFlag" id="ngForm" autocomplete="off" [formGroup]="LookUpForm">
        <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="row wrap" fxLayout.xs="column"
          fxLayoutGap="20px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="0px grid">
          <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%">
            <app-auto-complete [selectProperties]='categoryControls'></app-auto-complete>
          </div>
        </div>
        <div formArrayName="lookupValue"
          *ngFor="let item of getformgroup(); let i = index; let first = first; let last= last">
          <div [formGroupName]="i">
            <div class="row wrap" fxLayoutGap="20px grid">
              <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%">
                <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                  <mat-label>LookUp Name</mat-label>
                  <input matInput #ques type="text" placeholder="LookUp Name" formControlName="lookUpName"
                    maxlength="75" autocomplete="off" role="presentation" required />
                  <mat-error *ngIf="item.get('lookUpName')?.errors?.required"> LookUp Name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%">
                <mat-label class="lbl">Is Active</mat-label>
                <mat-checkbox formControlName="active">Active</mat-checkbox>
              </div>
              <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%">
                <mat-label>&nbsp;</mat-label>
                <div class="adrem text-left" fxLayoutGap="8px">
                  <button type="button" mat-button color="primary" matTooltip="Add" matTooltipClass="accent-tooltip"
                    (click)="addControl(i)" *ngIf="last && !isSingleEdit"> <i class="icon-plus-circle"></i> </button>
                  <button type="button" mat-button color="warn" matTooltip="Remove" matTooltipClass="accent-tooltip"
                    (click)="removeControl(i)" *ngIf="!(first && last)"> <i class="icon-x-circle"></i> </button>
                </div>
              </div>
            </div>
            <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="row wrap"
              fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="0px grid">
              <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                  <mat-label>LookUp Description</mat-label>
                  <textarea matInput #desc type="text" placeholder="LookUp Description" formControlName="lookUpDesc"
                    maxlength="200" autocomplete="off" role="presentation" required></textarea>
                  <mat-error *ngIf="item.get('lookUpDesc')?.errors?.required"> LookUp Description is required
                  </mat-error>
                  <mat-hint>({{desc.value.length}} / 200 Max)</mat-hint>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div fxLayout="row" *ngIf="!showFlag">
        <div fxFlex="100%">
          <p-table #dt [columns]="displayedColumns" [value]="lookUpList" dataKey="lookUpCatId" [scrollable]="true"
            [rows]="itemperpage" [resizableColumns]="true" [reorderableColumns]="true" [paginator]="true">

            <!-- ================= COLGROUP ================= -->
            <ng-template pTemplate="colgroup" let-colGroupCols>
              <colgroup>
                <col style="width:120px" />
                <col *ngFor="let col of colGroupCols" style="min-width:200px" />
              </colgroup>
            </ng-template>

            <!-- ================= HEADER ================= -->
            <ng-template pTemplate="header" let-headerCols>
              <tr>
                <th class="action">Action</th>

                <th *ngFor="let col of headerCols" [ngSwitch]="col.field" pReorderableColumn pResizableColumn>

                  <div class="thname" matTooltip="{{ col.header }}" matTooltipClass="accent-tooltip">
                    {{ col.header }}
                  </div>

                  <span [pSortableColumn]="col.field">
                    <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                      ariaLabelDesc="Activate to sort in descending order"
                      ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                  </span>

                </th>
              </tr>

              <!-- HIDDEN FILTER ROW -->
              <tr *ngIf="lookUpList?.length > 0" style="display:none">
                <th *ngFor="let col of headerCols" class="tbl-Column-seacrh">
                  <mat-form-field *ngIf="col.field !== 'Actions'">
                    <input matInput placeholder="{{ col.header }}" autocomplete="off"
                      (input)="dt.filter($event.target.value, col.field, 'contains')" />
                  </mat-form-field>
                </th>
                <td class="tbl-Column-seacrh"></td>
              </tr>
            </ng-template>

            <!-- ================= BODY ================= -->
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-bodyCols="columns">

              <tr>
                <td class="desg-bg">
                  <div fxLayout="row" class="desg-icon">
                    <div fxFlex="100%" fxLayoutGap="10px">

                      <a [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'icon-chevron-down' : 'icon-chevron-right'"></i>
                      </a>

                      <mat-icon [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''" matTooltip="Edit"
                        (click)="editForm(rowData, false)">
                        <i class="material-icons-outlined">edit</i>
                      </mat-icon>

                      <mat-icon [ngClass]="screenAuth.deleteFlag === false ? 'page-btn disabled' : ''"
                        matTooltip="Delete" (click)="openDialog(rowData, false)">
                        <i class="material-icons-outlined">delete</i>
                      </mat-icon>

                    </div>
                  </div>
                </td>

                <td *ngFor="let col of bodyCols">
                  <span *ngIf="col.field !== 'active'" matTooltip="{{ rowData[col.field] || 'N/A' }}"
                    matTooltipClass="accent-tooltip">
                    {{ rowData[col.field] || 'N/A' }}
                  </span>

                  <span *ngIf="col.field === 'active'">
                    <div class="tbl-icon">
                      <span *ngIf="rowData.active" class="istrue">
                        <i class="material-icons" matTooltip="Active">thumb_up</i>
                      </span>
                      <span *ngIf="!rowData.active" class="isfalse">
                        <i class="material-icons" matTooltip="In-Active">thumb_down</i>
                      </span>
                    </div>
                  </span>
                </td>
              </tr>

            </ng-template>

            <!-- ================= ROW EXPANSION ================= -->
            <ng-template pTemplate="rowexpansion" let-moduleRowData let-expCols="columns">
              <tr>
                <td [attr.colspan]="displayedColumns?.length">

                  <p-table #sub [columns]="subColumns" [value]="moduleRowData.lookupValue" class="inn-table"
                    [paginator]="true" [rows]="10">

                    <!-- INNER HEADER -->
                    <ng-template pTemplate="header" let-innerHeaderCols>
              <tr>
                <th style="width:100px">Action</th>

                <th *ngFor="let col of innerHeaderCols" pReorderableColumn pResizableColumn>

                  <span matTooltip="{{ col.header }}" matTooltipClass="accent-tooltip">
                    {{ col.header }}
                  </span>

                  <span [pSortableColumn]="col.field">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                  </span>

                </th>
              </tr>
            </ng-template>

            <!-- INNER BODY -->
            <ng-template pTemplate="body" let-screenRowData let-innerBodyCols="columns">

              <tr>
                <td class="desg-bg">
                  <mat-icon [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''" matTooltip="Edit"
                    (click)="editForm(screenRowData, true)">
                    <i class="material-icons-outlined">edit</i>
                  </mat-icon>

                  <mat-icon [ngClass]="screenAuth.deleteFlag === false ? 'page-btn disabled' : ''" matTooltip="Delete"
                    (click)="openDialog(screenRowData, true)">
                    <i class="material-icons-outlined">delete</i>
                  </mat-icon>
                </td>

                <td *ngFor="let col of innerBodyCols">
                  <span *ngIf="col.field !== 'active'">
                    {{ screenRowData[col.field] || 'N/A' }}
                  </span>

                  <span *ngIf="col.field === 'active'">
                    <i class="material-icons">
                      {{ screenRowData.active ? 'thumb_up' : 'thumb_down' }}
                    </i>
                  </span>
                </td>
              </tr>

            </ng-template>

          </p-table>

          </td>
          </tr>
          </ng-template>

          </p-table>

          <div [ngClass]="{'empty-record': lookUpList?.length == 0}" class="cus-paginator" fxLayout="row wrap"
            fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="20px grid">
            <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%"
              fxLayoutAlign="start center"> Showing {{ dt.totalRecords < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0
                ? dt.rows + dt.first <= dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of {{
                  dt.totalRecords }} record(s)| &nbsp;<a (click)="showall()">Show All</a> </div>
            <span fxFlex fxHide.md fxHide.sm fxHide.xs></span>
            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
              fxLayoutAlign="end center" fxLayoutAlign.md="end center" fxLayoutAlign.sm="start center"
              fxLayoutAlign.xs="start center"> <a [ngClass]="dt.first === 0 ? 'page-btn disabled' : 'page-btn'" (click)="
                                    dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)"> <i
                  class="icon-control-start mr-5"></i></a> <span class="gotopagbg mr-2 ml-2" fxHide.xs>Go to
                Page<span class="input-num">
                  <input type="number" min="1" #pageNo [(ngModel)]="currentPage" maxlength="5" appNumberOnly
                    [NumberOnly]="false" (keyup.enter)="navigatePage(pageNo.value, dt.rows, true)" />
                </span></span> <span class="mr-2" fxHide.xs> of
                {{ getTotalPages(dt.totalRecords, dt.rows) }}</span> <a
                [ngClass]=" dt.rows + dt.first >= dt.totalRecords? 'page-btn disabled': 'page-btn'" (click)="dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)"><i
                  class="icon-control-end ml-5"></i></a> </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>