<div class="FullBody">
  <div class="HeaderBg">
    <div class="HContBody">
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="100%">
          <div class="LogTxt">
            <a href="#aaa" routerLink="/" class="link">
              <div class="Logo lnd-logo kryalogo">
                 <i class="icon-K-transparent"></i>
              </div>
              <div class="logo-lett">
                <div class="logo-txt">Krya Screening Private Limited</div>
                <!-- <div class="logo-sol">Screening Made Smart</div> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ContBody">
    <div fxFlex="100%">
      <div fxLayout="row">
        <div fxFlex="100%">
          <h1 style="font-size: 17px;" class="sub-header">DigiLocker Verification process</h1>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <pre>
            Note:- 
            1.Enter the login credentials accurately. 
            2.Select 'I consent to terms of use' option to proceed further and click sign in.
            3.You will receive OTP to an aadhaar linked phone number, enter the OTP to initiate digilocker verification.
            4.Once you signed in, check the consent types, what are all the documents in issued document and digilocker drive
            can be accessed by VTS application in your digilocker login.
            5.Edit the consent expiry date like from which date to which date you are going to give the 
            application to access the document. 
            6.Check the details you have given thoroughly before clicking allow option.
            7.Once the process has been submitted you will not be able to edit the consent type till the date 
            of expiry you have given.
            
            Thank you, 
            Krya Screening Private Limited.	
          </pre>
        </div>
      </div>
      <mat-card-actions fxLayoutGap="8px" fxLayoutAlign="end end">

        <span>
          <button mat-flat-button color="accent" (click)="ProceedClick()">Proceed DigiLocker Verification</button>
        </span>
      </mat-card-actions>
    </div>
  </div>

</div>