<app-breadcrumb [btnExportDisabled]="!screenAuth?.exportFlag" [btnExcelExport]="!breadcrumbFlags.btnAddUpload"
  (eventExcelExport)="exportExcelFile()" [btnResetTbl]="!breadcrumbFlags.btnAddUpload" (eventResetTbl)="resetTable()"
  [routePath]="'Configure / Master / DOJ Lapsed Bulk Upload'" [btnAddUpload]="!breadcrumbFlags?.btnAddUpload"
(eventAddUpload)="breadcrumbFlags.btnAddUpload = !breadcrumbFlags.btnAddUpload"></app-breadcrumb>
<mat-card>
  <div fxLayout="row">
    <mat-card-header fxFlex="100%">
      <div fxFlex="100%">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutGap="10px">
          <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%"
            fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
            <mat-card-title>
              <h1 class="header-title">DOJ Lapsed Bulk Upload</h1>
            </mat-card-title>
          </div>
          <span fxFlex></span>
          <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="100%" fxHide.xs
            fxLayoutAlign="end center" fxLayoutAlign.sm="end center">
            @if (!this.breadcrumbFlags.btnAddUpload) {
              <div class="tbl-commonsearch">
                <mat-form-field fxFlex="100%">
                  <mat-label></mat-label>
                  <mat-icon matPrefix><i class="icon-search1"></i></mat-icon>
                  <input #global matInput placeholder="Search here..." type="text" pInputText size="50" autocomplete="off"
                    (input)="dt?.filterGlobal($event.target.value, 'contains')" />
                    @if (global.value) {
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="global.value = '';dt?.filterGlobal($event.target.value, 'contains')">
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              }
            </div>
          </div>
        </div>
      </mat-card-header>
    </div>
    <mat-card-content>
      @if (!this.breadcrumbFlags.btnAddUpload) {
        <div fxLayout="row">
          <div fxFlex="100%">
            <p-table #dt [columns]="displayedColumns" [value]="pendingList" [scrollable]="true" [rows]="10"
              [resizableColumns]="true" [reorderableColumns]="true" [paginator]="true">
              <!-- ===== COLGROUP ===== -->
              <ng-template pTemplate="colgroup" let-colGroupCols>
                <colgroup>
                @for (col of colGroupCols; track col) {
                  <col style="min-width:200px" />
                }
              </colgroup>
            </ng-template>
            <!-- ===== HEADER ===== -->
            <ng-template pTemplate="header" let-headerCols>
              <tr>
                @for (col of headerCols; track col) {
                  <th pReorderableColumn pResizableColumn>
                    <div class="thname" matTooltip="{{ col.header }}" matTooltipClass="accent-tooltip">
                      {{ col.header }}
                    </div>
                    <span [pSortableColumn]="col.field">
                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                      </p-sortIcon>
                    </span>
                  </th>
                }
              </tr>
            </ng-template>
            <!-- ===== BODY ===== -->
            <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-expanded="expanded" let-bodyCols="columns">
              <tr>
                @for (col of bodyCols; track col) {
                  <td>
                    <!-- DEFAULT -->
                    @if (col.field !== 'dateOfJoin' && col.field !== 'status') {
                      <span
                        matTooltip="{{ rowData[col.field] ? rowData[col.field] : 'N/A' }}" matTooltipClass="accent-tooltip">
                        {{ rowData[col.field] ? rowData[col.field] : 'N/A' }}
                      </span>
                    }
                    <!-- DATE -->
                    @if (col.field === 'dateOfJoin') {
                      <span
                        matTooltip="{{ rowData[col.field] ? (rowData[col.field] | date:'dd/MM/yyyy hh:mm a') : 'N/A' }}"
                        matTooltipClass="accent-tooltip">
                        {{ rowData[col.field] ? (rowData[col.field] | date:'dd/MM/yyyy hh:mm a') : 'N/A' }}
                      </span>
                    }
                    <!-- STATUS -->
                    @if (col.field === 'status') {
                      <span matTooltip="{{ rowData[col.field] === true ? 'Yes' : 'No' }}"
                        matTooltipClass="accent-tooltip">
                        {{ rowData[col.field] === true ? 'Yes' : 'No' }}
                      </span>
                    }
                  </td>
                }
              </tr>
            </ng-template>
          </p-table>
          <div [ngClass]="{'empty-record': pendingList?.length === 0}" class="cus-paginator" fxLayout="row wrap"
            fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="20px grid">
            <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%"
              fxLayoutAlign="start center"> Showing {{ dt.totalRecords < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0
              ? dt.rows + dt.first <= dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of {{
            dt.totalRecords }} record(s) </div>
            <span fxFlex fxHide.md fxHide.sm fxHide.xs></span>
            <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
              fxLayoutAlign="end center" fxLayoutAlign.md="end center" fxLayoutAlign.sm="start center"
              fxLayoutAlign.xs="start center"> <a [ngClass]="dt.first === 0 ? 'page-btn disabled' : 'page-btn'"
                    (click)="
                                    dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)"> <i
            class="icon-control-start mr-5"></i></a> <span class="gotopagbg mr-2 ml-2" fxHide.xs>Go to
            Page<span class="input-num">
            <input type="number" min="1" #pageNo [(ngModel)]="currentPage" maxlength="5" appNumberOnly
              [NumberOnly]="false" (keyup.enter)="navigatePage(pageNo.value, dt.rows, true)" />
            </span></span> <span class="mr-2" fxHide.xs> of
          {{ getTotalPages(dt.totalRecords, dt.rows) }}</span> <a
                    [ngClass]=" dt.rows + dt.first >= dt.totalRecords? 'page-btn disabled': 'page-btn'" (click)="dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                                    navigateNxtPrevPage(dt.first + dt.rows, dt.rows)"><i
        class="icon-control-end ml-5"></i></a> </div>
      </div>
    </div>
  </div>
}
@if (breadcrumbFlags?.btnAddUpload === true) {
  <div fxLayout="row">
    <app-bulk-export-import [screenType]="'doj'" (backEvent)="close()">
    </app-bulk-export-import>
  </div>
}
</mat-card-content>
</mat-card>