.captcha {
    background: #f5f8ff;
    border: 1px solid rgba(14,72,114,0.25);
    min-height: 70px;
    width: 100%;
    margin-bottom: 20px; 
    border-radius: 4px;
    padding: 16px 16px 10px 16px;
  }
.captcha-img{    
    margin-top: 2px;
} 
.captch-btn .mat-mdc-icon-button i,  .captch-btn a i{    
    font-size: 16px !important;
    font-weight: 800 !important;
}
.captch-btn .mat-mdc-icon-button,
.captch-btn .mat-mdc-icon-button {
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
}
.form.txt-captcha mat-form-field.mat-mdc-form-field.mat-primary .mat-error { 
    margin-top: 14px;
}
::ng-deep form.txt-captcha mat-form-field.mat-mdc-form-field.mat-primary .mat-mdc-text-field-wrapper{
    padding-bottom: 0px;
    margin: 0px;
}
::ng-deep form.txt-captcha mat-form-field.mat-mdc-form-field.mat-primary .mat-mdc-text-field-wrapper{
    padding-bottom: 0px;
    margin: 0px;
}

::ng-deep form.txt-captcha mat-form-field.mat-mdc-form-field.mat-primary .mat-mdc-form-field-infix {
    padding: 2px 0px 9px 0px;
}