<!-- <div *ngIf='step1 === 2'> -->
  <div>
    <h1 class="header-title"><span class="StprH">Step 3:</span>Employment(HR) Information</h1>
    <span fxFlex></span> <a routerLink="." class="header-search" routerLink="./"> <i
          class="material-icons">search</i>Search for
    Fake Employer List</a> </div>
  <div class="content-area">
    <div fxLayout="row">
      <p>Candidate Name: <b>Karan Aditya</b></p>
      <span fxFlex></span>
      <p>Report Source Name: <b>Aditya</b></p>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Screening Priority</mat-label>
          <mat-select matNativeControl>
            <mat-option value="option">Select Priority</mat-option>
            <mat-option value="option">High</mat-option>
            <mat-option value="option">Delta</mat-option>
            <mat-option value="option">Normal</mat-option>
            <mat-option value="option">Medium</mat-option>
            <mat-option value="option">Verizon</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Status</mat-label>
          <mat-select matNativeControl>
            <mat-option value="option">Select Status</mat-option>
            <mat-option value="option">Close</mat-option>
            <mat-option value="option">Open</mat-option>
            <mat-option value="option">Pending</mat-option>
            <mat-option value="option">Approval</mat-option>
            <mat-option value="option">On Hold</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Case Status</mat-label>
          <mat-select matNativeControl required>
            <mat-option value="option">Select Case Status</mat-option>
            <mat-option value="option">Open</mat-option>
            <mat-option value="option">Case On Hold</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="70%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Employer</mat-label>
          <input matInput placeholder="Employer">
        </mat-form-field>
      </div>
      <div fxFlex="30%">
        <mat-checkbox>Current Employer</mat-checkbox>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Country</mat-label>
          <mat-select matNativeControl>
            <mat-option value="option">Select Country</mat-option>
            <mat-option value="option">Australia</mat-option>
            <mat-option value="option">Germany</mat-option>
            <mat-option value="option">India</mat-option>
            <mat-option value="option">United Kingdom</mat-option>
            <mat-option value="option">United States</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>State</mat-label>
          <mat-select matNativeControl>
            <mat-option value="option">Select State</mat-option>
            <mat-option value="option">Andaman & Nicobar Islands</mat-option>
            <mat-option value="option">Delhi</mat-option>
            <mat-option value="option">Tamil Nadu</mat-option>
            <mat-option value="option">West Bengal</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>City</mat-label>
          <input matInput placeholder="City">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Employment No.</mat-label>
          <input matInput placeholder="Employment No.">
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Employee ID</mat-label>
          <input matInput placeholder="Employee ID">
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Designation</mat-label>
          <input matInput placeholder="Designation">
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>From </mat-label>
          <input matInput [matDatepicker]="picker4" placeholder="From Date"  (focus)="picker4.open()"
          (click)="picker4.open()">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
          <mat-hint>Eg. DD/MM/YYYY (or) NOT PROVIDED</mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>To</mat-label>
          <input matInput [matDatepicker]="picker5" placeholder="To Date" (focus)="picker5.open()"
          (click)="picker5.open()">
          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
          <mat-datepicker #picker5></mat-datepicker>
          <mat-hint>Eg. DD/MM/YYYY (or) NOT PROVIDED</mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>CTC</mat-label>
          <input matInput placeholder="CTC">
          <mat-hint>Eg. 9.50 (Lacs)</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="pt-15">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>From </mat-label>
          <input matInput [matDatepicker]="picker6" placeholder="From Date" (focus)="picker6.open()"
          (focus)="picker6.open()">
          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
          <mat-datepicker #picker6></mat-datepicker>
          <mat-hint>Eg. DD/MM/YYYY (or) NOT PROVIDED</mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-label class="lbl">Are the attached documents genuine?</mat-label>
        <mat-radio-group fxLayoutGap="20px">
          <mat-radio-button value="1">Yes</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxFlex="33.33%"> </div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" class="pt-15">
      <div fxFlex="50%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Enter Misc Type</mat-label>
          <input matInput placeholder="Enter Misc Type">
          <mat-hint>Eg. Company ID.</mat-hint>
        </mat-form-field>
      </div>
      <div fxFlex="50%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Enter Misc No.</mat-label>
          <input matInput placeholder="Enter Misc No.">
          <mat-hint>Eg. A3455DR</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" class="pt-15">
      <h2 class="sub-header">Supporting Documents</h2>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="19%">
        <div class="file-upload">
          <input type="file" #fileInput>
        </div>
      </div>
      <div fxFlex="19%">
        <div class="file-upload-files"> test for </div>
      </div>
    </div>
  </div>  