<div class="registration_larea" fxLayout="row" fxLayout.xs="column" fxFlex="100">
  <img class="mobile_img" src="assets/images/tech-bg-mobile.png" fxHide.lg fxHide.sm fxHide.md fxFlex="100" />
  <div class="register_left" fxFlex="30" fxHide.xs fxHide.sm>
    <div class="content_here" fxFlex="100">
      <div class="inside_bg" fxFlex="100">
        <div class="acheck_logo">
          <a href="#" routerLink="/" class="acheck_logo">
            <img class="user_check_img" src="assets/images/krya-Logo_white.png" />
          </a>
          <!-- <a href="#aaa" routerLink="/" class="link">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 262.7 57.1" style="enable-background:new 0 0 262.7 57.1;" xml:space="preserve">
            <style type="text/css">
              .st0{fill:#fff;}
              .st1{fill:#fff;}
              .st2{fill:none;}
            </style>
            <g>
              <g>
                <g>
                  <path class="st0" d="M4.3,22.4C4.3,12,12.8,3.5,23.2,3.5c10.4,0,18.9,8.5,18.9,18.9c0,10.4-8.5,18.9-18.9,18.9     C12.8,41.3,4.3,32.8,4.3,22.4z M9.8,22.4c0,7.4,6,13.4,13.4,13.4c7.4,0,13.4-6,13.4-13.4C36.6,15,30.6,9,23.2,9     C15.8,9,9.8,15,9.8,22.4z"/>
                  <g>
                    <path class="st0" d="M22,28c-0.4,0.4-0.9,0.5-1.2,0.3l-1.7-1.7c-0.3-0.3-0.1-0.8,0.2-1.2l8.1-8.1c0.4-0.4,0.9-0.5,1.2-0.3      l1.7,1.7c0.3,0.3,0.1,0.8-0.2,1.2L22,28z"/>
                    <path class="st0" d="M20.2,26.6c-0.2,0.3-0.7,0.3-0.9,0.1l-3.1-2.8c-0.3-0.2-0.3-0.7,0-0.9l1.5-1.7c0.2-0.3,0.7-0.3,0.9-0.1      l3.1,2.8c0.3,0.2,0.3,0.7,0,0.9L20.2,26.6z"/>
                  </g>
                </g>
                <g>
                  <path class="st1" d="M56.6,11.7h3.8l8.1,19h-4.3l-1.7-4.2h-8l-1.7,4.2h-4.2L56.6,11.7z M61,22.8l-2.5-6.1l-2.5,6.1H61z"/>
                  <path class="st1" d="M69.4,20.4h8.3v3.9h-8.3V20.4z"/>
                  <path class="st1" d="M80.5,21.4L80.5,21.4c0-5.4,4-9.8,9.8-9.8c3.6,0,5.7,1.2,7.4,2.9l-2.6,3c-1.5-1.3-2.9-2.1-4.8-2.1     c-3.2,0-5.5,2.6-5.5,5.9v0.1c0,3.2,2.2,5.9,5.5,5.9c2.2,0,3.5-0.9,5-2.2l2.6,2.7c-1.9,2.1-4.1,3.4-7.7,3.4     C84.6,31.1,80.5,26.8,80.5,21.4z"/>
                  <path class="st1" d="M100.8,11.1h4.1v7.3c0.9-1.2,2.2-2.3,4.2-2.3c3.1,0,4.9,2.1,4.9,5.4v9.4H110v-8.1c0-1.9-0.9-2.9-2.5-2.9     c-1.6,0-2.6,1-2.6,2.9v8.1h-4.1V11.1z"/>
                  <path class="st1" d="M116.9,23.6L116.9,23.6c0-4.2,2.9-7.6,7.1-7.6c4.8,0,7,3.8,7,7.9c0,0.3,0,0.7-0.1,1.1H121     c0.4,1.9,1.7,2.8,3.5,2.8c1.4,0,2.4-0.4,3.5-1.5l2.3,2.1c-1.3,1.7-3.3,2.7-5.9,2.7C120.1,31.1,116.9,28,116.9,23.6z M127.1,22.4     c-0.2-1.8-1.3-3.1-3-3.1c-1.7,0-2.8,1.2-3.1,3.1H127.1z"/>
                  <path class="st1" d="M133.5,23.6L133.5,23.6c0-4.2,3.2-7.6,7.6-7.6c2.7,0,4.4,0.9,5.8,2.4l-2.5,2.7c-0.9-1-1.8-1.6-3.3-1.6     c-2,0-3.5,1.8-3.5,3.9v0.1c0,2.2,1.4,4,3.7,4c1.4,0,2.3-0.6,3.3-1.5l2.4,2.4c-1.4,1.5-3,2.6-5.9,2.6     C136.6,31.1,133.5,27.7,133.5,23.6z"/>
                  <path class="st1" d="M149.6,11.1h4.1v10.5l4.8-5.3h4.9l-5.5,5.7l5.7,8.8h-4.7l-3.7-5.9l-1.5,1.5v4.4h-4.1V11.1z"/>
                  <path class="st1" d="M173.2,21.4L173.2,21.4c0-5.4,4.2-9.8,9.9-9.8c3.4,0,5.4,0.9,7.4,2.6l-2.6,3.2c-1.5-1.2-2.8-1.9-4.9-1.9     c-3,0-5.4,2.7-5.4,5.9v0.1c0,3.5,2.4,6,5.7,6c1.5,0,2.9-0.4,3.9-1.1v-2.7H183v-3.6h8.2v8.2c-1.9,1.6-4.6,3-8.1,3     C177.3,31.1,173.2,26.9,173.2,21.4z"/>
                  <path class="st1" d="M195,11.1h4.1v19.7H195V11.1z"/>
                  <path class="st1" d="M202.2,23.6L202.2,23.6c0-4.2,3.3-7.6,7.9-7.6c4.5,0,7.8,3.3,7.8,7.5v0.1c0,4.2-3.3,7.5-7.9,7.5     C205.5,31.1,202.2,27.8,202.2,23.6z M213.8,23.6L213.8,23.6c0-2.2-1.5-4-3.8-4c-2.3,0-3.8,1.8-3.8,3.9v0.1c0,2.1,1.5,4,3.8,4     C212.4,27.5,213.8,25.7,213.8,23.6z"/>
                  <path class="st1" d="M224.9,28.9v1.9h-4.1V11.1h4.1v7.3c1-1.3,2.4-2.3,4.5-2.3c3.4,0,6.6,2.6,6.6,7.5v0.1c0,4.8-3.2,7.5-6.6,7.5     C227.3,31,225.9,30,224.9,28.9z M231.9,23.5L231.9,23.5c0-2.5-1.6-4-3.5-4c-1.9,0-3.5,1.6-3.5,4v0.1c0,2.4,1.6,4,3.5,4     C230.3,27.5,231.9,26,231.9,23.5z"/>
                  <path class="st1" d="M238.2,26.6L238.2,26.6c0-3.2,2.4-4.7,5.8-4.7c1.5,0,2.5,0.2,3.5,0.6v-0.2c0-1.7-1.1-2.6-3.1-2.6     c-1.6,0-2.7,0.3-4,0.8l-1-3.1c1.6-0.7,3.2-1.2,5.6-1.2c2.2,0,3.9,0.6,4.9,1.6c1.1,1.1,1.6,2.7,1.6,4.6v8.4h-4v-1.6     c-1,1.1-2.4,1.8-4.4,1.8C240.4,31,238.2,29.5,238.2,26.6z M247.6,25.7v-0.7c-0.7-0.3-1.6-0.5-2.6-0.5c-1.8,0-2.8,0.7-2.8,2v0.1     c0,1.1,0.9,1.8,2.2,1.8C246.3,28.2,247.6,27.1,247.6,25.7z"/>
                  <path class="st1" d="M255.2,11.1h4.1v19.7h-4.1V11.1z"/>
                </g>
              </g>
              <rect class="st2" width="262.7" height="57.1"/>
            </g>
            <g>
              <path class="st1" d="M83.4,47.2h0.7c0.8,1.8,1.5,2.4,2.4,2.4c0.9,0,1.4-0.7,1.4-1.4c0-0.7-0.4-1-1.4-1.5c-1.6-0.8-2.3-1.4-2.3-2.6   c0-1.5,1.2-3,3.4-3c0.8,0,1.5,0.3,2,0.6l0.6-0.7h0.7l-0.7,2.9h-0.7c-0.7-1.7-1.2-2.2-2.1-2.2c-0.8,0-1.3,0.6-1.3,1.3   c0,0.8,0.5,1.1,1.8,1.8c1.2,0.6,1.8,1.3,1.8,2.4c0,1.6-1.1,3.1-3.4,3.1c-1,0-1.9-0.2-2.5-0.6l-0.5,0.7h-0.8L83.4,47.2z"/>
              <path class="st1" d="M96.7,45.5c0,0.6-0.4,1.1-1,1.1c-0.5,0-0.9-0.3-0.9-0.9c0-0.4,0.2-0.8,0.6-1c-0.2-0.1-0.4-0.2-0.7-0.2   c-1,0-2,1.3-2,3.2c0,1,0.5,1.6,1.4,1.6c0.7,0,1.3-0.5,1.8-1l0.4,0.3c-0.6,0.8-1.5,1.6-2.9,1.6c-1.6,0-2.7-1-2.7-2.5   c0-1.9,1.6-3.9,3.8-3.9C95.8,43.8,96.7,44.5,96.7,45.5z"/>
              <path class="st1" d="M103.5,45c0,0.8-0.5,1.4-1.2,1.4c-0.6,0-1-0.3-1-0.8c0-0.1,0-0.4,0.1-0.6c-0.5,0.1-1,0.4-1.4,0.9l-1,4.2h-2.2   l0.7-2.1l0.7-2.6c0.1-0.4,0.1-0.6-0.8-0.7v-0.5l3.1-0.2l-0.4,1.2l0.1,0.1c0.6-0.7,1.2-1.3,2-1.3C103.1,43.9,103.5,44.4,103.5,45z"/>
              <path class="st1" d="M105.6,47.3c0,0.1,0,0.2,0,0.3c0,1,0.5,1.6,1.4,1.6c0.7,0,1.4-0.4,1.8-1l0.4,0.3c-0.7,0.9-1.5,1.6-2.9,1.6   c-1.6,0-2.7-1-2.7-2.5c0-1.9,1.6-3.9,4-3.9c1.5,0,2.1,0.7,2.1,1.6C109.6,46.5,108.3,47.3,105.6,47.3z M105.6,46.8   c1.8-0.1,2.3-0.8,2.3-1.6c0-0.5-0.3-0.7-0.6-0.7C106.6,44.5,105.9,45.5,105.6,46.8z"/>
              <path class="st1" d="M112.1,47.3c0,0.1,0,0.2,0,0.3c0,1,0.5,1.6,1.4,1.6c0.7,0,1.4-0.4,1.8-1l0.4,0.3c-0.7,0.9-1.5,1.6-2.9,1.6   c-1.6,0-2.7-1-2.7-2.5c0-1.9,1.6-3.9,4-3.9c1.5,0,2.1,0.7,2.1,1.6C116.1,46.5,114.8,47.3,112.1,47.3z M112.1,46.8   c1.8-0.1,2.3-0.8,2.3-1.6c0-0.5-0.3-0.7-0.6-0.7C113.1,44.5,112.4,45.5,112.1,46.8z"/>
              <path class="st1" d="M117.7,45.3c0.1-0.4,0.1-0.6-0.8-0.7v-0.5l3.1-0.2l-0.3,1l0.1,0.1c0.8-0.7,1.5-1.1,2.2-1.1   c0.8,0,1.4,0.5,1.4,1.3c0,0.2-0.1,0.5-0.1,0.7l-0.8,2.5c-0.1,0.3-0.1,0.5-0.1,0.6c0,0.3,0.2,0.4,1.1,0.4v0.5   c-0.3,0.1-1.2,0.3-1.7,0.3c-0.9,0-1.4-0.3-1.4-1c0-0.2,0-0.4,0.1-0.7l0.7-2.2c0.1-0.3,0.1-0.5,0.1-0.7c0-0.3-0.2-0.5-0.6-0.5   c-0.4,0-0.9,0.2-1.2,0.5l-1.1,4.6h-2.2L117,48L117.7,45.3z"/>
              <path class="st1" d="M127.7,49.9c-0.3,0.1-0.9,0.3-1.6,0.3c-1.1,0-1.7-0.4-1.7-1.2c0-0.2,0-0.4,0.1-0.7l1-3.1   c0.1-0.4-0.1-0.6-1-0.7v-0.5l3.4-0.2l-1.5,4.5c-0.1,0.3-0.1,0.4-0.1,0.5c0,0.4,0.3,0.5,1.2,0.5V49.9z M127.8,40.5   c0.5,0,0.9,0.3,0.9,1c0,0.8-0.6,1.5-1.4,1.5c-0.5,0-0.9-0.3-0.9-1C126.4,41.1,127,40.5,127.8,40.5z"/>
              <path class="st1" d="M129.9,45.3c0.1-0.4,0.1-0.6-0.8-0.7v-0.5l3.1-0.2l-0.3,1l0.1,0.1c0.8-0.7,1.5-1.1,2.2-1.1   c0.8,0,1.4,0.5,1.4,1.3c0,0.2-0.1,0.5-0.1,0.7l-0.8,2.5c-0.1,0.3-0.1,0.5-0.1,0.6c0,0.3,0.2,0.4,1.1,0.4v0.5   c-0.3,0.1-1.2,0.3-1.7,0.3c-0.9,0-1.4-0.3-1.4-1c0-0.2,0-0.4,0.1-0.7l0.7-2.2c0.1-0.3,0.1-0.5,0.1-0.7c0-0.3-0.2-0.5-0.6-0.5   c-0.4,0-0.9,0.2-1.2,0.5l-1.1,4.6h-2.2l0.7-2.1L129.9,45.3z"/>
              <path class="st1" d="M136.5,48c0-2.1,1.7-4.1,3.7-4.1c0.7,0,1.1,0.3,1.4,0.7l0.2-0.6l2-0.1L143,46l-1.2,4.2   c-0.5,1.9-1.5,2.7-3.8,2.7c-1.8,0-2.4-0.8-2.4-1.4c0-0.6,0.5-1.1,1.1-1.1c0.6,0,1,0.4,1,0.8c0,0.3-0.2,0.6-0.4,0.7   c0.1,0.2,0.5,0.3,0.8,0.3c1,0,1.6-0.7,2-2.6l0.1-0.2l-0.1,0c-0.5,0.4-1,0.6-1.6,0.6C137.4,50,136.5,49.3,136.5,48z M138.6,47.8   c0,0.7,0.2,1.2,0.8,1.2c0.3,0,0.5-0.1,0.8-0.2l1.1-3.7c-0.2-0.3-0.4-0.4-0.8-0.4C139.3,44.7,138.6,46.9,138.6,47.8z"/>
              <path class="st1" d="M148.1,41.4h3.8l0.6,5.6h0.1l3.2-5.6h4.2l-0.2,0.6c-0.9,0-1.2,0.3-1.3,0.7l-1.7,6.2c-0.1,0.5-0.1,0.6,1,0.7   l-0.2,0.6h-4.5l0.2-0.6c0.7,0,1-0.2,1.1-0.7l1.7-6h-0.3l-4.3,7.3h-1l-0.8-7.3h-0.1l-1.3,4.8c-0.3,1.3-0.3,1.8,0.8,1.8l-0.2,0.6   h-3.3l0.2-0.6c1-0.1,1.3-0.6,1.7-2l1.2-4.3c0.2-0.7,0.2-1.2-0.8-1.2L148.1,41.4z"/>
              <path class="st1" d="M165,48.2c-0.1,0.4-0.2,0.7-0.2,0.9c0,0.3,0.3,0.3,1,0.3v0.6c-0.3,0.1-1,0.3-1.7,0.3c-0.8,0-1.2-0.3-1.2-0.9   l-0.1,0c-0.7,0.7-1.1,0.9-1.8,0.9c-0.9,0-1.9-0.7-1.9-2.2c0-2.6,2.1-4.2,3.6-4.2c0.8,0,1.2,0.3,1.4,0.7l0.3-0.6l2-0.1l-0.8,2.1   L165,48.2z M161.2,48c0,0.8,0.4,1.1,0.9,1.1c0.3,0,0.5-0.1,0.8-0.3l1.1-3.6c-0.2-0.3-0.4-0.4-0.7-0.4   C162.1,44.6,161.2,46.8,161.2,48z"/>
              <path class="st1" d="M172.6,48.2c-0.1,0.4-0.2,0.7-0.2,0.8c0,0.3,0.3,0.4,1.1,0.4v0.5c-0.3,0.1-1.1,0.3-1.8,0.3   c-0.8,0-1.2-0.2-1.2-0.9l-0.1,0c-0.7,0.7-1.1,0.9-1.8,0.9c-0.9,0-1.9-0.7-1.9-2.2c0-2.6,2.1-4.2,3.6-4.2c0.8,0,1.1,0.3,1.4,0.6   l0.5-2.1c0.1-0.5-0.3-0.7-1.1-0.7v-0.5l3.6-0.2L172.6,48.2z M168.9,48c0,0.8,0.4,1.1,0.9,1.1c0.3,0,0.5-0.1,0.8-0.3l1.1-3.6   c-0.2-0.3-0.4-0.4-0.7-0.4C169.8,44.7,168.9,46.6,168.9,48z"/>
              <path class="st1" d="M176.5,47.3c0,0.1,0,0.2,0,0.3c0,1,0.5,1.6,1.4,1.6c0.7,0,1.4-0.4,1.8-1l0.4,0.3c-0.7,0.9-1.5,1.6-2.9,1.6   c-1.6,0-2.7-1-2.7-2.5c0-1.9,1.6-3.9,4-3.9c1.5,0,2.1,0.7,2.1,1.6C180.5,46.5,179.2,47.3,176.5,47.3z M176.5,46.8   c1.8-0.1,2.3-0.8,2.3-1.6c0-0.5-0.3-0.7-0.6-0.7C177.6,44.5,176.8,45.5,176.5,46.8z"/>
              <path class="st1" d="M183.8,47.2h0.7c0.8,1.8,1.5,2.4,2.4,2.4c0.9,0,1.4-0.7,1.4-1.4c0-0.7-0.4-1-1.4-1.5c-1.6-0.8-2.3-1.4-2.3-2.6   c0-1.5,1.2-3,3.4-3c0.8,0,1.5,0.3,2,0.6l0.6-0.7h0.7l-0.7,2.9H190c-0.7-1.7-1.2-2.2-2.1-2.2c-0.8,0-1.3,0.6-1.3,1.3   c0,0.8,0.5,1.1,1.8,1.8c1.2,0.6,1.8,1.3,1.8,2.4c0,1.6-1.1,3.1-3.4,3.1c-1,0-1.9-0.2-2.5-0.6l-0.5,0.7h-0.8L183.8,47.2z"/>
              <path class="st1" d="M194.3,44.9L194.3,44.9c0.8-0.6,1.5-1,2.2-1c0.8,0,1.3,0.5,1.4,1.1c0.9-0.7,1.5-1.1,2.3-1.1   c0.8,0,1.4,0.5,1.4,1.3c0,0.2,0,0.5-0.1,0.7l-0.8,2.5c-0.1,0.3-0.1,0.5-0.1,0.6c0,0.3,0.2,0.4,1.1,0.4v0.5   c-0.3,0.1-1.2,0.3-1.7,0.3c-0.9,0-1.4-0.3-1.4-1c0-0.2,0-0.4,0.1-0.7l0.7-2.2c0.1-0.3,0.1-0.5,0.1-0.7c0-0.3-0.2-0.5-0.5-0.5   c-0.3,0-0.7,0.1-1.1,0.4c0,0.1-0.1,0.3-0.1,0.5l-1.2,4.2h-2.1l1.2-3.9c0.1-0.3,0.1-0.5,0.1-0.7c0-0.3-0.2-0.5-0.5-0.5   c-0.3,0-0.7,0.1-1.3,0.5l-1.1,4.6h-2.2l0.7-2.1l0.7-2.6c0.1-0.4,0.1-0.6-0.8-0.7v-0.5l3.1-0.2L194.3,44.9z"/>
              <path class="st1" d="M208.3,48.2c-0.1,0.4-0.2,0.7-0.2,0.9c0,0.3,0.3,0.3,1,0.3v0.6c-0.3,0.1-1,0.3-1.7,0.3c-0.8,0-1.2-0.3-1.2-0.9   l-0.1,0c-0.7,0.7-1.1,0.9-1.8,0.9c-0.9,0-1.9-0.7-1.9-2.2c0-2.6,2.1-4.2,3.6-4.2c0.8,0,1.2,0.3,1.4,0.7l0.3-0.6l2-0.1L209,46   L208.3,48.2z M204.5,48c0,0.8,0.4,1.1,0.9,1.1c0.3,0,0.5-0.1,0.8-0.3l1.1-3.6c-0.2-0.3-0.4-0.4-0.7-0.4   C205.4,44.6,204.5,46.8,204.5,48z"/>
              <path class="st1" d="M216.5,45c0,0.8-0.5,1.4-1.2,1.4c-0.6,0-1-0.3-1-0.8c0-0.1,0-0.4,0.1-0.6c-0.5,0.1-1,0.4-1.4,0.9l-1,4.2h-2.2   l0.7-2.1l0.7-2.6c0.1-0.4,0.1-0.6-0.8-0.7v-0.5l3.1-0.2l-0.4,1.2l0.1,0.1c0.6-0.7,1.2-1.3,2-1.3C216,43.9,216.5,44.4,216.5,45z"/>
              <path class="st1" d="M220.1,44.7l-1,3.3c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.5,0.3,0.6,0.8,0.6c0.2,0,0.6,0,0.9-0.1l-0.1,0.6   c-0.5,0.2-1.2,0.5-2.2,0.5c-1.1,0-1.7-0.5-1.7-1.2c0-0.2,0-0.4,0.1-0.7l1-3.5h-1.2l0.2-0.8h1.2l0.6-2l2.1-0.2l-0.7,2.2h1.6   l-0.2,0.8H220.1z"/>
            </g>
          </svg>
        </a> -->
      </div>
      <div class="bg_content">
        <div class="inside_content">
          <h2>Verification Tracking System</h2>
          <p>Helping Organizations Across The Globe In Making 'SMART' AND 'SAFE' Hiring Decisions...</p>
        </div>
        <div class="contact_info">
          <p class="call_text">For any support or assistance, please reach us to the below contacts </p>
          <div fxLayout="row" fxLayoutAlign="center center">
            <div fxFlex="50">
              <p>
                <a href="tel:+91 44 - 6669 2727">
                  <span>
                    <i class="icon-phone1"></i>
                  </span> &nbsp; +91 44 - 6669 2727</a>
                </p>
              </div>
              <div fxFlex="50">
                <p>
                  <a href="mailto:contact&#64;kryacheck.com">
                    <span>
                      <i class="icon-mail"></i>
                    </span> &nbsp; contact&#64;kryacheck.com</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="register_right" fxFlex="70" fxFlex.xs="100" fxFlex.sm="100">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90">
          <h1 class="page_title">Sign up </h1>
          <p class="page_des">to Verification Tracking System</p>
        </div>

        <div fxFlex="10">
          <p class="help_link">
            <a href="#">
              <span>
                <i class="icon-info"></i>
              </span>&nbsp;Help</a>
            </p>
          </div>
        </div>
        <div fxLayout="column">
          <mat-horizontal-stepper class="custom_hstepper" [linear]="isLinear" orientation="horizontal" #stepper>
            <mat-step [stepControl]="firstFormGroup">
              <form id='ngForm' [formGroup]="candidateRegisterForm" autocomplete="off" class="acheck_form">
                <ng-template matStepLabel>
                  <span>
                    <i class="icon-user2"></i>
                  </span> Basic
                </ng-template>
                <div class="basic_input_area" fxLayout="column">
                  <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
                    <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                      <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                        <mat-label>User Name</mat-label>
                        <input matInput #username formControlName="userName" required placeholder="User Name" (keyup)="username.value = username.value.trim()" (blur)="checkUserName()" autocomplete="off" role="presentation">
                        @if (candidateRegisterForm?.get('userName')?.errors?.required) {
                          <mat-error>User Name is required
                          </mat-error>
                        }
                        @if (candidateRegisterForm?.get('userName')?.errors?.incorrect) {
                          <mat-error> This User Name was already exist </mat-error>
                        }
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                      <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required placeholder="Name">
                        @if (candidateRegisterForm?.get('name')?.errors?.required) {
                          <mat-error>Name is required
                          </mat-error>
                        }
                      </mat-form-field>
                    </div>
                    <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                      <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="emailId" required placeholder="Email">
                        @if (candidateRegisterForm?.get('emailId')?.errors?.required) {
                          <mat-error>Email is required
                          </mat-error>
                        }
                        @if (candidateRegisterForm?.get('emailId')?.errors?.pattern) {
                          <mat-error>Enter Valid Email
                          </mat-error>
                        }
                        <!-- <mat-error *ngIf="candidateRegisterForm?.get('emailId')?.errors?.incorrect"> This Mailid was
                      already exist </mat-error> -->
                      <!-- <mat-hint>Your email address will be your Username</mat-hint> -->
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                      <mat-label>Phone Number</mat-label>
                      <input matInput formControlName="phoneNo" required placeholder="Phone Number" appNumberOnly [PhoneNumber]="false" minlength="10" maxlength="14">
                      @if (candidateRegisterForm?.get('phoneNo')?.errors?.required) {
                        <mat-error>Phone Number is required
                        </mat-error>
                      }
                      @if (candidateRegisterForm?.get('phoneNo')?.errors?.minlength || candidateRegisterForm?.get('phoneNo')?.errors?.pattern) {
                        <mat-error>
                        Phone Number is Invalid </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                    <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                      <mat-label>Set Password</mat-label>
                      <input matInput formControlName="password" required placeholder="Set Password" (keyup)="setPasswordBlur()" (blur)="isShow = false" [type]="hide ? 'password' : 'text'" autocomplete="off" role="presentation">
                      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>
                          <i class="material-icons material-icons">
                          {{hide ? 'visibility_off' : 'visibility'}} </i>
                        </mat-icon>
                      </button>
                      @if (candidateRegisterForm?.get('password')?.errors?.required) {
                        <mat-error>Set Password is required
                        </mat-error>
                      }
                      @if (candidateRegisterForm?.get('password')?.errors?.incorrect) {
                        <mat-error>Set Password is not valid</mat-error>
                      }
                    </mat-form-field>
                  </div>
                  @if (isShow) {
                    <div fxFlex="50%" fxFlex.lg="50%">
                      <div class="pswd-hint">
                        <b>Password must:</b>
                        <ul>
                          <li [ngClass]="numberflag?'done':''">
                            <i class="material-icons">check</i>At least 1 Numeric Value</li>
                            <li [ngClass]="charflag?'done':''">
                              <i class="material-icons">check</i>At least 1 Alphapet
                            </li>
                            <li [ngClass]="uniqueflag?'done':''">
                              <i class="material-icons">check</i>At least 1 Special Character</li>
                              <li [ngClass]="minflag?'done':''">
                                <i class="material-icons">check</i>Minimum of 8 characters </li>
                              </ul>
                            </div>
                          </div>
                        }
                        <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                          <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput formControlName="confirmPassword" autocomplete="off" role="presentation" required placeholder="Confirm Password" (keyup)="confirmPasswordBlur()" [type]="hide1 ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                              <mat-icon>
                                <i class="material-icons material-icons">
                                {{hide1 ? 'visibility_off' : 'visibility'}} </i>
                              </mat-icon>
                            </button>
                            @if (candidateRegisterForm?.get('confirmPassword')?.errors?.required) {
                              <mat-error>Confirm password is required</mat-error>
                            }
                            @if (candidateRegisterForm?.get('confirmPassword')?.errors?.incorrect) {
                              <mat-error>
                              Password did not match</mat-error>
                            }
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="signup_btn_group">
                      <button class="theme_btn1" mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <form id='ngForm1' [formGroup]="candidateRegisterForm" autocomplete="off" class="acheck_form">
                    <ng-template matStepLabel>
                      <span>
                        <i class="icon-address"></i>
                      </span> Address
                    </ng-template>
                    <div fxLayout="column">

                      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
                        <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                          <app-address #addressComp [addressList]="address" [addressformgrp]="candidateRegisterForm">
                          </app-address>
                        </div>
                      </div>
                      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">

                        <div fxFlex="60%" fxFlex.lg="60%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

                          <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                            <mat-label>Terms & Conditions</mat-label>
                            <textarea rows="3" matInput readonly> As a requestor I have obtained necessary consent, authorization, documents  and details from the person to be verified and based on the same I am placing this online request for verification. The request for verification is initiated only for tenancy or employment or self- verification  purposes.  I will also keep the original copy of the authorization letter filled & signed by the person to be  verified  in my safe custody all the time to prove my authority in requesting for the said verification,  in case of any instance of infringement of privacy, is raised/claimed by the person on behalf of  whom the request for verification is made either on me or with Krya.</textarea>
                          </mat-form-field>
                        </div>
                        <div fxFlex="40%" fxFlex.lg="40%" fxFlex.md="50%" fxFlex.sm="100%" fxFlex.xs="100%">
                          <mat-checkbox class="check" formControlName="agreeFlag">I agree to the above terms and condition. </mat-checkbox>

                          <div class="signup_btn_group" style="text-align:left">
                            <button class="theme_btn2" mat-button matStepperPrevious>Back</button>
                            <button class="theme_btn1" mat-button type="submit" (click)="saveRegistration()" [disabled]="candidateRegisterForm?.get('agreeFlag')?.value !== true||!candidateRegisterForm.valid" color="primary" class="mt-5">Sign Up / Register</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </form>
                </mat-step>
              </mat-horizontal-stepper>
            </div>

            <div id="mobile_sec" class="contact_info" fxHide.md fxHide.lg>
              <p class="call_text">For any support or assistance, please reach us to the below contacts </p>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
                <div fxFlex="50" fxFlex.xs="100">
                  <p>
                    <a href="tel:+91 44 - 6669 2727">
                      <span>
                        <i class="icon-phone1"></i>
                      </span> &nbsp; +91 44 - 6669 2727</a>
                    </p>
                  </div>
                  <div fxFlex="50" fxFlex.xs="100">
                    <p>
                      <a href="mailto:contact&#64;kryacheck.com">
                        <span>
                          <i class="icon-mail"></i>
                        </span> &nbsp; contact&#64;kryacheck.com</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div fxLayout="column">
                  <div fxLayout="row" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column">
                    <div fxFlex="30%" fxHide.sm fxHide.md fxHide.xs></div>
                    <div fxFlex="70%" fxFlex.md="100%">
                      <div class="copyright_sec">
                        <p>Copyright © 2020 Krya Screening Private Limited. All Rights Reserved. </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>