<app-breadcrumb [routePath]="routePath" [btnDelete]="btnDelete" (eventDelete)="deleteInsuff()"
  (eventExcelExport)="exportAsExcelFile()" [btnExcelExport]="btnExcelExport" (eventBack)="back()" [btnBack]="btnBack">
</app-breadcrumb>
<div fxLayout="row" class="advSearch">
  <form autocomplete="off" [formGroup]="insuffSearchForm">
    <div class="advSearch-forms">
      <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="row"
        fxLayoutGap="0px">
        <div fxFlex="100%">
          @if (this.screeningService.caseFlagType === this.common.INSUFFCLEARANCE) {
            <div fxLayout="row" fxLayoutGap="20px"
              >
              <div fxFlex="200px">
                <mat-form-field [appearance]="'standard'" fxFlex="100%">
                  <mat-label>Case Ref No. </mat-label>
                  <input matInput placeholder="Case Ref No." formControlName="clientRefNo" type="text"
                    size="50" (blur)="shieveFilter('clientRefNo')" />
                </mat-form-field>
              </div>
              <div fxFlex="200px">
                <mat-form-field [appearance]="'standard'" fxFlex="100%">
                  <mat-label>Screening Id. </mat-label>
                  <input matInput placeholder="Screening Id" formControlName="screeningId" type="text"
                    size="50" (blur)="shieveFilter('screeningId')" />
                </mat-form-field>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (selectionChange)="shieveFilter('clientName')"
                  (propValueEvent)="removeValue($event.value)" [selectProperties]='clientControl'>
                </app-auto-complete>
              </div>
              <div fxFlex="200px">
                <mat-form-field [appearance]="'standard'" fxFlex="100%">
                  <mat-label>Candidate Name </mat-label>
                  <input matInput placeholder="Candidate Name" formControlName="candidateName" type="text"
                    size="50" (blur)="shieveFilter('candidateName')" />
                </mat-form-field>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (selectionChange)="shieveFilter('compName')"
                  (propValueEvent)="removeValue($event.value)" [selectProperties]='componentControl'>
                </app-auto-complete>
              </div>
            </div>
          }
          @if (this.screeningService.caseFlagType !== this.common.INSUFFCLEARANCE) {
            <div fxLayout="row" fxLayoutGap="20px"
              >
              <div fxFlex="200px">
                <app-auto-complete (propValueEvent)="getPropertyValue($event)"
                  [selectProperties]='caseRefNoControl'>
                </app-auto-complete>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (propValueEvent)="getPropertyValue($event)"
                  [selectProperties]='clientControl'>
                </app-auto-complete>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (propValueEvent)="getPropertyValue($event)"
                  [selectProperties]='candidateControl'>
                </app-auto-complete>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (propValueEvent)="getPropertyValue($event)"
                  [selectProperties]='componentControl'>
                </app-auto-complete>
              </div>
              <div fxFlex="200px">
                <app-auto-complete (propValueEvent)="getPropertyValue($event)"
                  [selectProperties]='sreeningIdControl'>
                </app-auto-complete>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <div fxFlex="100%" class="advSearch-btn">
      <div class="FloatR mt-15" fxLayoutAlign="start center" fxLayoutGap="10px">
        @if (this.screeningService.caseFlagType === this.common.INSUFFCLEARANCE) {
          <span><a
          (click)="search()">Search</a>
          <span> &nbsp;&nbsp; | </span></span>
        }
        <a (click)="resetFilterSort('reset')">Reset</a>
      </div>
    </div>
  </form>
</div>
<div fxLayout="row" class="srchPad">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutGap="10px grid">
          <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%"
            fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
            <mat-card-title>
              <h1 class="header-title">{{headerName}}</h1>
            </mat-card-title>
          </div>
          <span fxFlex></span>
        </div>
      </mat-card-header>

      <mat-card-content>


        @if (btnDelete) {
          <div>
            <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="row wrap"
              fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="0px grid"
              class="sortrow">
              @if (btnDelete && raiseInsuffCompList?.length > 0) {
                <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%" class="mt-5"
                  >
                  <mat-checkbox [formControl]="selectall" (change)="selectAll($event)"
                    [disabled]="!(getDisable())">Select All
                  </mat-checkbox>
                </div>
              }
              <span fxFlex></span>
              <div fxFlex="90%" fxFlex.lg="90%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%"
                fxLayoutAlign="end center" fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start">
                <div fxFlex="88%" fxFlex.lg="88%" fxFlex.md="88%" fxFlex.sm="100%" fxFlex.xs="100%"
                  fxLayoutAlign="end center" fxLayoutAlign.sm="start start"
                  fxLayoutAlign.xs="start start">
                  <ul class="pl-0">
                    <li><span class="text-dull"> Showing
                      {{(raiseInsuffCompList?.length > 0 ? ((itemPerPage*page)-itemPerPage+1):
                      0)}} -
                      {{(itemPerPage*page)>=raiseInsuffCompList?.length?(raiseInsuffCompList?.length):(filterLength*page)}}
                    of </span> <b> {{raiseInsuffCompList?.length}}
                  record(s)</b>
                </li>
                |
                <li>
                  <a (click)="showall()">Show All</a>
                </li>|
                <li>
                  <b>Sort By:</b> <a [ngClass]="column==='candidateFullName'?'active':''"
                                            (click)="sortBy('candidateFullName')">Candidate Name</a> <i [ngClass]="{'icon-sort': column != 'candidateFullName',
                                                'icon-sort-asc': (column == 'candidateFullName' && !isDesc),
                                                'icon-sort-desc': (column == 'candidateFullName' && isDesc) }"
              aria-hidden="true"> </i> <a [ngClass]="column==='clientName'?'active':''"
                                            (click)="sortBy('clientName')">Client Name</a> <i [ngClass]="{'icon-sort': column != 'clientName',
                                                  'icon-sort-asc': (column == 'clientName' && !isDesc),
                                                  'icon-sort-desc': (column == 'clientName' && isDesc) }"
          aria-hidden="true"> </i>
        </li>
      </ul>
    </div>
    <!-- <div fxFlex="9%" fxFlex.lg="9%" fxFlex.md="9%" fxFlex.sm="18%" fxFlex.xs="100%" fxLayoutAlign="end center"
    fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start" *ngIf="!btnDelete">
    <button mat-flat-button color="warn"
      [disabled]="insuff?.insuffStatus.toLowerCase() === common.RAISED.toLowerCase()"*ngIf="assignflag === true"
    (click)="opendialogassign()" >Re-Assign</button>
    <button mat-flat-button  color="warn"
      [disabled]="insuff?.insuffStatus.toLowerCase() === common.RAISED.toLowerCase()" *ngIf="assignflag !== true"
    (click)="opendialogassign()" >Assign</button>
  </div> -->
</div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    @for (insuff of raiseInsuffCompList|
      search: [{key:'clientName', value: insuffSearchForm?.get('clientName')?.value},
      {key:'clientRefNo', value: insuffSearchForm?.get('clientRefNo')?.value},
      {key:'clientScreeningId', value: insuffSearchForm?.get('screeningId')?.value},
      {key:'candidateFullName', value: insuffSearchForm?.get('candidateName')?.value},
      {key:'componentName', value: insuffSearchForm?.get('compName')?.value}] | sort: {property: column, direction: direction} | paginate: { itemsPerPage: itemPerPage, currentPage: page }; track insuff; let c = $count; let j = $index) {
      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap"
        fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid"
        [class]="getFilterLen(c)"
        >
        <div fxFlex="3%" fxFlex.lg="3%" fxFlex.md="4%" fxFlex.sm="7%" fxFlex.xs="100%">
          <mat-checkbox class="Xverifi-checkbox"
            [disabled]="insuff?.insuffStatus.toLowerCase() !== common.RAISED.toLowerCase()"
            [checked]="insuff?.selected"
          (change)="checkChanged($event, insuff)"></mat-checkbox>
          <!-- <mat-checkbox class="Xverifi-checkbox" [checked]="insuff?.selected" *ngIf="!btnDelete" [checked]="insuff?.selected" (change)="assignScope($event.checked,i, insuff)">
        </mat-checkbox> -->
        <i matTooltip="{{insuff?.priorityLookupName ? insuff?.priorityLookupName : 'N/A'}}"
          matTooltipClass="accent-tooltip"
                                        [ngClass]="insuff?.priorityLookupName === 'Normal case' ? 'icon-status csatus Normal' :
                        insuff?.priorityLookupName === 'Pilot case' ? 'icon-status csatus Pilot' :
                        insuff?.priorityLookupName === 'Priority case' ? 'icon-status csatus Priority' :
                        insuff?.priorityLookupName === 'Rush case' ? 'icon-status csatus Rush' : 'icon-status csatus Normal'"></i>
      </div>
      <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="24%" fxFlex.xs="100%">
        <a
          (click)="openFileSubmission(insuff);common.funcEntity = insuff?.functionalEntity">
          <mat-card-header>
            <div mat-card-avatar class="avatar avatarBg{{(j%6)+1}}">
              {{ insuff?.candidateFirstName ? insuff?.candidateFirstName.slice(0, 1) :
              ''}}{{insuff?.candidateLastName ? insuff?.candidateLastName.slice(0, 1)
              : ''}}
            </div>
            <mat-card-title class="cname">{{ insuff?.candidateFullName
            }}</mat-card-title>
            @if (insuff?.manualFileSubmissionFlag==true) {
              <mat-card-subtitle class="cdesg mb-0">{{insuff?.clientScreeningId}}
              </mat-card-subtitle>
            }
            @if (insuff?.manualFileSubmissionFlag!=true) {
              <mat-card-subtitle class="cdesg mb-0">ACG{{insuff?.screeningCompId}}
              </mat-card-subtitle>
            }
          </mat-card-header>
        </a>
      </div>
      <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="29%" fxFlex.xs="100%">
        <p>
          <label>Case Status:</label>
          <em>{{insuff?.caseStatusLookupName ? insuff?.caseStatusLookupName : "N/A"}}</em>
        </p>
        <p>
          <label>Client Name:</label>
          <em>{{ insuff?.clientName }}</em>
        </p>
        <p>
          <label>Client Ref No:</label>
          <em>{{ insuff?.clientRefNo }}</em>
        </p>
      </div>
      <div fxFlex="22%" fxFlex.lg="22%" fxFlex.md="22%" fxFlex.sm="30%" fxFlex.xs="100%">
        <p>
          <label>Screening Priority:</label>
          <em>{{ insuff?.priorityLookupName }}</em>
        </p>
        <p>
          <label>Site Name:</label>
          <em>{{insuff?.siteName ? insuff?.siteName : 'N/A'}}</em>
        </p>
        <p>
          <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}} By:</label>
          <em>{{insuff?.insuffStatus ? insuff?.raisedBy : insuff?.clearedBy}}</em>
        </p>
      </div>
      <div fxFlex="27%" fxFlex.lg="27%" fxFlex.md="27%" fxFlex.sm="90%" fxFlex.xs="100%">
        <p>
          <label>Component Name:</label>
          <em class="cn-chip">{{ insuff?.componentName }}
          {{insuff?.subCompName ? (' - ' + insuff?.subCompName) : ''}}</em>
        </p>
        <!-- <p *ngIf="insuff?.insuffStatus">
        <label>Insufficiency Status:</label>
        <em>{{ insuff?.insuffStatus }}</em>
      </p> -->
      <p>
        <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}} Date &
        Time</label>
        <em>{{ insuff?.insuffStatus ? (insuff?.raisedDate ?
          (common.getTimezoneOffset(insuff?.raisedDate, false) | date: "dd/MM/yyyy
          hh:mm:ss a") : 'N/A') :
          insuff?.clearedDate ? (common.getTimezoneOffset(insuff?.clearedDate, false)
        | date: "dd/MM/yyyy hh:mm:ss a") : 'N/A' }}</em>
      </p>
      @if (insuff.manualFileSubmissionFlag === true) {
        <p>
          <label>Screening Id:</label>
          <em>{{insuff?.clientScreeningId ? insuff?.clientScreeningId : 'N/A'}}</em>
        </p>
      }
    </div>
    <div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="20%" fxFlex.xs="100%">
      <app-insuff-history [screeningCompId]="insuff.screeningCompId"
        [isInsuffScreen]="true">
      </app-insuff-history>
    </div>
    <div fxFlex="63.33" fxFlex.lg="63.33" fxFlex.md="63.33" fxFlex.sm="50%"
      fxFlex.xs="100%">
      <p>
        <label>Functional Entity:</label>
        <span>{{insuff.functionalEntity ?insuff.functionalEntity : 'N/A'}}</span>
      </p>
    </div>
  </div>
}
<div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="column"
  fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="20px grid"
  fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start" class="cus-paginator">
  <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="54%" fxFlex.sm="100%" fxFlex.xs="100%"
    fxLayoutAlign="end end" fxLayoutAlign.md="start start"
    fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start"
    class="tex t-right dev-paginator">
    <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
  </div>
  <div fxHide.xs fxFlex="30%" fxFlex.lg="30%" fxFlex.md="46%" fxFlex.sm="100%"
    fxFlex.xs="100%" fxLayoutAlign="end end" fxLayoutAlign.sm="start start"
    fxLayoutAlign.xs="start start">
    <span class="gotopagbg ml-2">Go to Page
      <span class="input-num">
        <input type="number" [(ngModel)]="page" min="1" maxlength="4" appNumberOnly
          preventDragdrop preventCutCopyPaste autocomplete="off"
          [NumberOnly]="false">
      </span>
    </span>
    <span class="gotopagbg ml-2">Items / page
      <span class="input-num">
        <input type="number" [(ngModel)]="itemPerPage" min="1" maxlength="4"
          appNumberOnly preventDragdrop preventCutCopyPaste autocomplete="off"
          [NumberOnly]="false" (blur)="preventInfinite()">
      </span>
    </span>
  </div>
</div>
</div>
</div>
</div>
}
@if (userData.applicationId === 1 && ownerflag !==true &&
  screeningService.caseFlagType !==common.SUBMISSION_HISTORY && !btnDelete) {
  <mat-tab-group
    (selectedTabChange)="filterAssignedCase($event.index);">
    @for (res of menubar; track res; let ind = $index) {
      <mat-tab label="{{res.menuName}}">
        @if (raiseInsuffCompList?.length > 0) {
          <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="row wrap"
            fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid"
            fxLayoutGap.xs="0px grid" class="sortrow">
            @if (btnDelete && raiseInsuffCompList?.length > 0) {
              <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%"
                class="mt-5">
                <!-- <mat-checkbox [formControl]="selectall" (change)="selectAll($event)" [disabled]="!(getDisable())">Select All
              </mat-checkbox> -->
            </div>
          }
          <span fxFlex></span>
          <div fxFlex="90%" fxFlex.lg="90%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%"
            fxLayoutAlign="end center" fxLayoutAlign.sm="start start"
            fxLayoutAlign.xs="start start">
            <div fxFlex="88%" fxFlex.lg="88%" fxFlex.md="88%" fxFlex.sm="100%" fxFlex.xs="100%"
              fxLayoutAlign="end center" fxLayoutAlign.sm="start start"
              fxLayoutAlign.xs="start start">
              <ul class="pl-0">
                <!-- <li><span class="text-dull"> Showing
                {{(raiseInsuffCompList?.length > 0 ? ((itemPerPage*page)-itemPerPage+1): 0)}} -
                {{(itemPerPage*page)>=raiseInsuffCompList?.length?(raiseInsuffCompList?.length):(filterLength*page)}}
              of </span> <b> {{raiseInsuffCompList?.length}}
            record(s)</b>
          </li> -->
          <li><span class="text-dull"> Showing
            {{(raiseInsuffCompList?.length > 0 ?
            ((userData.pageSize*userData.page)-userData.pageSize+1): 0)}} -
            {{((userData.pageSize*userData.page)>=(shieveTotalCount))?(shieveTotalCount):(userData.pageSize*userData.page)}}
          of </span> <b> {{shieveTotalCount}}
        record(s)</b>
      </li>
      |<li><a (click)="shieveShowall()">Show All</a></li>|
      <li>
        <b>Sort By:</b> <a [ngClass]="column==='candidateFullName'?'active':''"
                                                (click)="sortBy('candidateFullName')">Candidate Name</a> <i [ngClass]="{'icon-sort': column != 'candidateFullName',
                                                'icon-sort-asc': (column == 'candidateFullName' && !isDesc),
                                                'icon-sort-desc': (column == 'candidateFullName' && isDesc) }"
    aria-hidden="true"> </i> <a
    [ngClass]="column==='clientName'?'active':''"
                                                (click)="sortBy('clientName')">Client Name</a> <i [ngClass]="{'icon-sort': column != 'clientName',
                                                  'icon-sort-asc': (column == 'clientName' && !isDesc),
                                                  'icon-sort-desc': (column == 'clientName' && isDesc) }"
aria-hidden="true"> </i>
<a [ngClass]="column==='clearedDate'?'active':''"
                                                (click)="sortBy('clearedDate')">clearedDate</a> <i [ngClass]="{'icon-sort': column != 'clearedDate',
                                                  'icon-sort-asc': (column == 'clearedDate' && !isDesc),
                                                  'icon-sort-desc': (column == 'clearedDate' && isDesc) }"
aria-hidden="true"> </i>
</li>
</ul>
</div>
@if (ownerflag !== true) {
  <div fxFlex="9%" fxFlex.lg="9%" fxFlex.md="9%" fxFlex.sm="18%" fxFlex.xs="100%"
    fxLayoutAlign="end center" fxLayoutAlign.sm="start start"
    fxLayoutAlign.xs="start start">
    @if (assignflag === true) {
      <button mat-flat-button color="warn"
        [disabled]="insuff?.insuffStatus.toLowerCase() === common.RAISED.toLowerCase()"
      (click)="opendialogassign()">Re-Assign</button>
    }
    @if (assignflag !== true) {
      <button mat-flat-button color="warn"
        [disabled]="insuff?.insuffStatus.toLowerCase() === common.RAISED.toLowerCase()"
      (click)="opendialogassign()">Assign</button>
    }
  </div>
}
</div>
</div>
}
<div fxLayout="row">
  <div fxFlex="100%">
    @for (insuff of raiseInsuffCompList
      | sort: {property: column, direction: direction} | paginate: { itemsPerPage: shievePageSize, currentPage: shievePageNo, totalItems: shieveTotalCount }; track insuff; let c = $count; let j = $index) {
      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap"
        fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid"
        [class]="getFilterLen(c)"
        >
        <div fxFlex="3%" fxFlex.lg="3%" fxFlex.md="4%" fxFlex.sm="7%" fxFlex.xs="100%">
          <!-- <mat-checkbox class="Xverifi-checkbox"
          [disabled]="insuff?.insuffStatus.toLowerCase() !== common.RAISED.toLowerCase()"
        [checked]="insuff?.selected" (change)="checkChanged($event, insuff)" *ngIf="btnDelete"></mat-checkbox> -->
        <mat-checkbox class="Xverifi-checkbox" [checked]="insuff?.selected"
          (change)="assignScope($event.checked,i, insuff);checkChanged($event, insuff)">
        </mat-checkbox>
        <i matTooltip="{{insuff?.priorityLookupName ? insuff?.priorityLookupName : 'N/A'}}"
          matTooltipClass="accent-tooltip"
                                            [ngClass]="insuff?.priorityLookupName === 'Normal case' ? 'icon-status csatus Normal' :
                        insuff?.priorityLookupName === 'Pilot case' ? 'icon-status csatus Pilot' :
                        insuff?.priorityLookupName === 'Priority case' ? 'icon-status csatus Priority' :
                        insuff?.priorityLookupName === 'Rush case' ? 'icon-status csatus Rush' : 'icon-status csatus Normal'"></i>
      </div>
      <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="23%" fxFlex.sm="23%" fxFlex.xs="100%">
        <a
          (click)="openFileSubmission(insuff);common.funcEntity = insuff?.functionalEntity">
          <mat-card-header>
            <div mat-card-avatar class="avatar avatarBg{{(j%6)+1}}">
              {{ insuff?.candidateFirstName ? insuff?.candidateFirstName.slice(0,
              1) : ''}}{{insuff?.candidateLastName ?
              insuff?.candidateLastName.slice(0, 1) : ''}}
            </div>
            <mat-card-title class="cname">{{ insuff?.candidateFullName
            }}</mat-card-title>
            @if (insuff?.manualFileSubmissionFlag==true) {
              <mat-card-subtitle class="cdesg mb-0">{{insuff?.clientScreeningId}}
              </mat-card-subtitle>
            }
            @if (insuff?.manualFileSubmissionFlag!=true) {
              <mat-card-subtitle class="cdesg mb-0">ACG{{insuff?.screeningCompId}}
              </mat-card-subtitle>
            }
          </mat-card-header>
        </a>
      </div>
      <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="32%" fxFlex.xs="100%">
        <p>
          <label>Case Status:</label>
          <em>{{insuff?.caseStatusLookupName ? insuff?.caseStatusLookupName :
          "N/A"}}</em>
        </p>
        <p>
          <label>Client Name:</label>
          <em>{{ insuff?.clientName }}</em>
        </p>
        <p>
          <label>Client Ref No:</label>
          <em>{{ insuff?.clientRefNo }}</em>
        </p>
      </div>
      <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="33%" fxFlex.xs="100%">
        <p>
          <label>Screening Priority:</label>
          <em>{{ insuff?.priorityLookupName }}</em>
        </p>
        <p>
          <label>Site Name:</label>
          <em>{{insuff?.siteName ? insuff?.siteName : 'N/A'}}</em>
        </p>
        @if (screeningService?.caseFlagType === common?.INSUFFCLEARANCE) {
          <p>
            <label>Raised By:</label>
            <em>{{insuff?.raisedBy}}</em>
          </p>
        }
        <p>
          <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}}
          By:</label>
          <em>{{insuff?.insuffStatus ? insuff?.raisedBy : insuff?.clearedBy}}</em>
        </p>
      </div>
      <div fxFlex="26%" fxFlex.lg="26%" fxFlex.md="26%" fxFlex.sm="100%" fxFlex.xs="100%">
        <p>
          <label>Component Name:</label>
          <em class="cn-chip">{{ insuff?.componentName }}
          {{insuff?.subCompName ? (' - ' + insuff?.subCompName) : ''}}</em>
        </p>
        <!-- <p *ngIf="insuff?.insuffStatus">
        <label>Insufficiency Status:</label>
        <em>{{ insuff?.insuffStatus }}</em>
      </p> -->
      <p>
        <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}} Date &
        Time</label>
        <em>{{ insuff?.insuffStatus ? (insuff?.raisedDate ?
          (common.getTimezoneOffset(insuff?.raisedDate, false) | date: "dd/MM/yyyy
          hh:mm:ss a") : 'N/A') :
          insuff?.clearedDate ? (common.getTimezoneOffset(insuff?.clearedDate,
        false) | date: "dd/MM/yyyy hh:mm:ss a") : 'N/A' }}</em>
      </p>
      @if (userData.deptName === common.DATA_ENTRY_DEPARTMENT ||userData.deptName === common.CTS_SUBMISSION_DEPARTMENT) {
        <p
          >
          <label>Owner Name:</label>
          <em>{{ (insuff.screeningOwnerFName ? insuff.screeningOwnerFName : 'N/A') + '
            ' +
            (insuff.screeningOwnerLName !== null ? insuff.screeningOwnerLName:
          '')}}</em>
        </p>
      }
      @if (insuff.manualFileSubmissionFlag === true) {
        <p>
          <label>Screening Id:</label>
          <em>{{insuff?.clientScreeningId ? insuff?.clientScreeningId : 'N/A'}}</em>
        </p>
      }
    </div>
    <div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="20%" fxFlex.xs="100%">
      <app-insuff-history [screeningCompId]="insuff.screeningCompId"
        [isInsuffScreen]="true">
      </app-insuff-history>
    </div>
    <div fxFlex="63.33" fxFlex.lg="63.33" fxFlex.md="63.33" fxFlex.sm="50%"
      fxFlex.xs="100%">
      <p>
        <label>Functional Entity:</label>
        <span>{{insuff.functionalEntity ?insuff.functionalEntity : 'N/A'}}</span>
      </p>
    </div>
  </div>
}
@if (raiseInsuffCompList?.length > 0) {
  <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="20px grid"
    fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start" class="cus-paginator"
    >
    <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="54%" fxFlex.sm="100%" fxFlex.xs="100%"
      fxLayoutAlign="end end" fxLayoutAlign.md="start start"
      fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start"
      class="tex t-right dev-paginator">
      <pagination-controls
      (pageChange)="shievePagination($event)"></pagination-controls>
    </div>
    <div fxHide.xs fxFlex="30%" fxFlex.lg="30%" fxFlex.md="46%" fxFlex.sm="100%"
      fxFlex.xs="100%" fxLayoutAlign="end end" fxLayoutAlign.sm="start start"
      fxLayoutAlign.xs="start start">
      <span class="gotopagbg ml-2">Go to Page
        <span class="input-num">
          <input type="number" [(ngModel)]="shievePageNo" min="1" maxlength="4"
            appNumberOnly preventDragdrop preventCutCopyPaste autocomplete="off"
            [NumberOnly]="false" (blur)="getClearInsufficiencyList(this.index)">
        </span>
      </span>
      <span class="gotopagbg ml-2">Items / page
        <span class="input-num">
          <input type="number" [(ngModel)]="shievePageSize" min="1" maxlength="4"
            appNumberOnly preventDragdrop preventCutCopyPaste autocomplete="off"
            [NumberOnly]="false" (blur)="getClearInsufficiencyList(this.index)">
        </span>
      </span>
    </div>
  </div>
}
</div>
</div>
</mat-tab>
}
</mat-tab-group>
}
@if (userData.applicationId === 1 && ownerflag ===true &&
  screeningService.caseFlagType !==common.SUBMISSION_HISTORY && !btnDelete) {
  <div>
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="row wrap"
      fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="0px grid"
      class="sortrow">
      @if (btnDelete && raiseInsuffCompList?.length > 0) {
        <div fxFlex="10%" fxFlex.lg="10%" fxFlex.md="10%" fxFlex.sm="10%" fxFlex.xs="100%" class="mt-5"
          >
        </div>
      }
      <span fxFlex></span>
      <div fxFlex="90%" fxFlex.lg="90%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%"
        fxLayoutAlign="end center" fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start">
        <div fxFlex="88%" fxFlex.lg="88%" fxFlex.md="88%" fxFlex.sm="100%" fxFlex.xs="100%"
          fxLayoutAlign="end center" fxLayoutAlign.sm="start start"
          fxLayoutAlign.xs="start start">
          <ul class="pl-0">
            <li><span class="text-dull"> Showing
              {{(raiseInsuffCompList?.length > 0 ? ((itemPerPage*page)-itemPerPage+1):
              0)}} -
              {{(itemPerPage*page)>=raiseInsuffCompList?.length?(raiseInsuffCompList?.length):(filterLength*page)}}
            of </span> <b> {{raiseInsuffCompList?.length}}
          record(s)</b>
        </li>
        |
        <li>
          <a (click)="showall()">Show All</a>
        </li>|
        <li>
          <b>Sort By:</b> <a [ngClass]="column==='candidateFullName'?'active':''"
                                            (click)="sortBy('candidateFullName')">Candidate Name</a> <i [ngClass]="{'icon-sort': column != 'candidateFullName',
                                          'icon-sort-asc': (column == 'candidateFullName' && !isDesc),
                                          'icon-sort-desc': (column == 'candidateFullName' && isDesc) }"
      aria-hidden="true"> </i> <a [ngClass]="column==='clientName'?'active':''"
                                            (click)="sortBy('clientName')">Client Name</a> <i [ngClass]="{'icon-sort': column != 'clientName',
                                            'icon-sort-asc': (column == 'clientName' && !isDesc),
                                            'icon-sort-desc': (column == 'clientName' && isDesc) }" aria-hidden="true">
  </i>
</li>
</ul>
</div>
</div>
</div>
<div fxLayout="row">
  <div fxFlex="100%">
    @for (insuff of raiseInsuffCompList|
      search: [{key:'clientName', value: insuffSearchForm?.get('clientName')?.value},
      {key:'clientRefNo', value: insuffSearchForm?.get('clientRefNo')?.value},
      {key:'candidateFullName', value: insuffSearchForm?.get('candidateName')?.value},
      {key:'componentName', value: insuffSearchForm?.get('compName')?.value}] | sort: {property: column, direction: direction} | paginate: { itemsPerPage: itemPerPage, currentPage: page }; track insuff; let c = $count; let j = $index) {
      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap"
        fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutGap="20px grid"
        [class]="getFilterLen(c)"
        >
        <div fxFlex="3%" fxFlex.lg="3%" fxFlex.md="4%" fxFlex.sm="7%" fxFlex.xs="100%">
          <i matTooltip="{{insuff?.priorityLookupName ? insuff?.priorityLookupName : 'N/A'}}"
            matTooltipClass="accent-tooltip"
                                        [ngClass]="insuff?.priorityLookupName === 'Normal case' ? 'icon-status csatus Normal' :
                  insuff?.priorityLookupName === 'Pilot case' ? 'icon-status csatus Pilot' :
                  insuff?.priorityLookupName === 'Priority case' ? 'icon-status csatus Priority' :
                  insuff?.priorityLookupName === 'Rush case' ? 'icon-status csatus Rush' : 'icon-status csatus Normal'"></i>
        </div>
        <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="23%" fxFlex.sm="23%" fxFlex.xs="100%">
          <a
            (click)="openFileSubmission(insuff);common.funcEntity = insuff?.functionalEntity">
            <mat-card-header>
              <div mat-card-avatar class="avatar avatarBg{{(j%6)+1}}">
                {{ insuff?.candidateFirstName ? insuff?.candidateFirstName.slice(0, 1) :
                ''}}{{insuff?.candidateLastName ? insuff?.candidateLastName.slice(0, 1)
                : ''}}
              </div>
              <mat-card-title class="cname">{{ insuff?.candidateFullName
              }}</mat-card-title>
              @if (insuff?.manualFileSubmissionFlag==true) {
                <mat-card-subtitle class="cdesg mb-0">{{insuff?.clientScreeningId}}
                </mat-card-subtitle>
              }
              @if (insuff?.manualFileSubmissionFlag!=true) {
                <mat-card-subtitle class="cdesg mb-0">ACG{{insuff?.screeningCompId}}
                </mat-card-subtitle>
              }
            </mat-card-header>
          </a>
        </div>
        <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="32%" fxFlex.xs="100%">
          <p>
            <label>Case Status:</label>
            <em>{{insuff?.caseStatusLookupName ? insuff?.caseStatusLookupName : "N/A"}}</em>
          </p>
          <p>
            <label>Client Name:</label>
            <em>{{ insuff?.clientName }}</em>
          </p>
          <p>
            <label>Client Ref No:</label>
            <em>{{ insuff?.clientRefNo }}</em>
          </p>
        </div>
        <div fxFlex="21%" fxFlex.lg="21%" fxFlex.md="21%" fxFlex.sm="33%" fxFlex.xs="100%">
          <p>
            <label>Screening Priority:</label>
            <em>{{ insuff?.priorityLookupName }}</em>
          </p>
          <p>
            <label>Site Name:</label>
            <em>{{insuff?.siteName ? insuff?.siteName : 'N/A'}}</em>
          </p>
          <p>
            <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}} By:</label>
            <em>{{insuff?.insuffStatus ? insuff?.raisedBy : insuff?.clearedBy}}</em>
          </p>
        </div>
        <div fxFlex="26%" fxFlex.lg="26%" fxFlex.md="26%" fxFlex.sm="100%" fxFlex.xs="100%">
          <p>
            <label>Component Name:</label>
            <em class="cn-chip">{{ insuff?.componentName }}
            {{insuff?.subCompName ? (' - ' + insuff?.subCompName) : ''}}</em>
          </p>
          <!-- <p *ngIf="insuff?.insuffStatus">
          <label>Insufficiency Status:</label>
          <em>{{ insuff?.insuffStatus }}</em>
        </p> -->
        <p>
          <label>{{insuff?.insuffStatus ? insuff?.insuffStatus : 'Cleared'}} Date &
          Time</label>
          <em>{{ insuff?.insuffStatus ? (insuff?.raisedDate ?
            (common.getTimezoneOffset(insuff?.raisedDate, false) | date: "dd/MM/yyyy
            hh:mm:ss a") : 'N/A') :
            insuff?.clearedDate ? (common.getTimezoneOffset(insuff?.clearedDate, false)
          | date: "dd/MM/yyyy hh:mm:ss a") : 'N/A' }}</em>
        </p>
        @if (userData.deptName === common.DATA_ENTRY_DEPARTMENT ||userData.deptName === common.CTS_SUBMISSION_DEPARTMENT) {
          <p
            >
            <label>Owner Name:</label>
            <em>{{ (insuff.screeningOwnerFName ? insuff.screeningOwnerFName : 'N/A') + ' ' +
              (insuff.screeningOwnerLName !== null ? insuff.screeningOwnerLName:
            '')}}</em>
          </p>
        }
        @if (insuff.manualFileSubmissionFlag === true) {
          <p>
            <label>Screening Id:</label>
            <em>{{insuff?.clientScreeningId ? insuff?.clientScreeningId : 'N/A'}}</em>
          </p>
        }
      </div>
      <div fxFlex="5%" fxFlex.lg="5%" fxFlex.md="5%" fxFlex.sm="20%" fxFlex.xs="100%">
        <app-insuff-history [screeningCompId]="insuff.screeningCompId"
          [isInsuffScreen]="true">
        </app-insuff-history>
      </div>
      <div fxFlex="63.33" fxFlex.lg="63.33" fxFlex.md="63.33" fxFlex.sm="50%"
        fxFlex.xs="100%">
        <p>
          <label>Functional Entity:</label>
          <span>{{insuff.functionalEntity ?insuff.functionalEntity : 'N/A'}}</span>
        </p>
      </div>
    </div>
  }
  <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row wrap" fxLayout.sm="column"
    fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="20px grid"
    fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start" class="cus-paginator">
    <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="54%" fxFlex.sm="100%" fxFlex.xs="100%"
      fxLayoutAlign="end end" fxLayoutAlign.md="start start"
      fxLayoutAlign.sm="start start" fxLayoutAlign.xs="start start"
      class="tex t-right dev-paginator">
      <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
    </div>
    <div fxHide.xs fxFlex="30%" fxFlex.lg="30%" fxFlex.md="46%" fxFlex.sm="100%"
      fxFlex.xs="100%" fxLayoutAlign="end end" fxLayoutAlign.sm="start start"
      fxLayoutAlign.xs="start start">
      <span class="gotopagbg ml-2">Go to Page
        <span class="input-num">
          <input type="number" [(ngModel)]="page" min="1" maxlength="4" appNumberOnly
            preventDragdrop preventCutCopyPaste autocomplete="off"
            [NumberOnly]="false">
        </span>
      </span>
      <span class="gotopagbg ml-2">Items / page
        <span class="input-num">
          <input type="number" [(ngModel)]="itemPerPage" min="1" maxlength="4"
            appNumberOnly preventDragdrop preventCutCopyPaste autocomplete="off"
            [NumberOnly]="false" (blur)="preventInfinite()">
        </span>
      </span>
    </div>
  </div>
</div>
</div>
</div>
}
</mat-card-content>
</mat-card>
</div>
</div>
<ng-template #insufficiency>
  <h1 mat-dialog-title>Insufficiency</h1>
  <mat-dialog-content>
    <app-raise-insufficiency #insuff [mainForm]="insufficiencyForm" [formgroupName]="'screeningInsufficiency'"
      [docList]="docList"
      [compBaseDetails]="{ compId: this.insufficiencyForm.get('screeningInsufficiency.compId').value }"
    [docdata]="insufficiencyForm.get('screeningInsufficiency').get('insuffDocument').value"></app-raise-insufficiency>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="8px">
    <button mat-flat-button color="accent" (click)="SaveInsuff()">Submit</button>
    <button mat-flat-button color="warn" (click)="dialogRef.close()">Close</button>
  </mat-dialog-actions>
</ng-template>
<ng-template #assignPopUp>
  <h1 mat-dialog-title>Screening Owner
    <div fxLayout="row" class="scrollCls">
      <div fxFlex="100%">
        <div fxLayout="row">
          <div fxFlex="100%">
            @if (userData.deptName === common.DATA_ENTRY_DEPARTMENT) {
              <p class="text-sm text-dull text-ilatic mt-10 line-height"
                > Assign the below Screening Owner
                to following Verification Reference no.: <span class="text-bold"> {{
                screeningOwnerId?.value?.screeningOwnerFName}}
              </span> </p>
            }
            @if (userData.deptName != common.DATA_ENTRY_DEPARTMENT) {
              <p class="text-sm text-dull text-ilatic mt-10 line-height"
                > Assign the below Screening Owner
                to following Verification Reference no.: <span class="text-bold"> {{
                screenowner?.value?.name}}
              </span> </p>
            }
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex="100%">
            <mat-form-field fxFlex="100%" appearance="outline" autocomplete="off" class="scr-own">
              <mat-label></mat-label>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Find someone" [formControl]="filterOwnerName" type="text"
                pInputText size="50">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </h1>
  <mat-dialog-content class="scrollCls">
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxFlex="100%">
        @if (userData.deptName === common.DATA_ENTRY_DEPARTMENT) {
          <div>
            @for (owner of screeningOwnerList | search:
              [{key:'screeningOwnerFName' ,value:filterOwnerName?.value}]; track owner; let i = $index) {
              <div class="ownven-list" id="ownerDiv"
                (click)="assignScrnOwner(owner,i)">
                <div class="user avatarBg{{(i%6) +1}}">
                {{ owner.screeningOwnerFName.slice(0,1)}}{{ owner?.screeningOwnerLName?.slice(0,1)}} </div>
                <span [ngClass]="owner.lastLoginFlag === true? 'pos act' : 'pos inact'"><i
                [ngClass]="owner.lastLoginFlag === true ? 'icon-approv': 'icon-reject'"></i></span>
                <div class="ovname"> {{(owner.screeningOwnerFName !== null? owner.screeningOwnerFName: '') + ' '
                  + (owner.screeningOwnerMName !== null ? owner.screeningOwnerMName: ' ') + ' ' +
                (owner.screeningOwnerLName !== null ? owner.screeningOwnerLName: '')}}</div>
              </div>
            }
          </div>
        }
        @if (userData.deptName != common.DATA_ENTRY_DEPARTMENT) {
          <div>
            @for (owner of screeningOwnerList | search:
              [{key:'name',value:filterOwnerName?.value}]; track owner; let i = $index) {
              <div class=" ownven-list" id="ownerDiv" (click)="assignScrnOwner(owner,i)">
                <div class="user avatarBg{{(i%6) +1}}"> {{(owner.name.split(' ').length - 1) > 0 ?
                  owner.name.split(' ')[0].charAt(0).toUpperCase() + owner.name.split('
                ')[1].charAt(0).toUpperCase() : owner.name.charAt(0).toUpperCase()}} </div>
                <span [ngClass]="owner.lastLoginFlag === true? 'pos act' : 'pos inact'"><i
                [ngClass]="owner.lastLoginFlag === true ? 'icon-approv': 'icon-reject'"></i></span>
                <div class="ovname">{{ owner.name }}</div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayoutAlign="end end" fxLayoutGap="8px">
    <button mat-stroked-button (click)="dialogClose()">No</button>
    <button mat-flat-button color="warn" (click)="assignOwner()"> Submit </button>
  </mat-dialog-actions>
</ng-template>