<div [formGroup]="contactForm">
  @for (item of getContactFormGroup(); track item; let i = $index) {
    <div [formArrayName]=formArrayName>
      <div [formGroupName]="i">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutGap="20px">
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
              <mat-label>Email Type</mat-label>
              <mat-select matNativeControl formControlName="lookupId">
                <mat-option value=''>----Select Email Type----</mat-option>
                @for (categories of emailtypeList; track categories) {
                  <mat-option [value]="categories.lookUpId">
                  {{ categories.lookUpName }}</mat-option>
                }
              </mat-select>
              @if (item?.get('lookupId')?.errors?.required) {
                <mat-error>
                Email Type is required</mat-error>
              }
            </mat-form-field>
          </div>
          <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
            <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
              <mat-label>Email ID</mat-label>
              <input email="true" matInput type="email" formControlName="emailaddress" placeholder="Email ID"
                autocomplete="off" role="presentation" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="false"
                (matChipInputTokenEnd)="add($event,i)" />
              @if (item.get('emailaddress')?.errors?.incorrect) {
                <mat-error>
                Please enter valid Email </mat-error>
              }
              @if (item.get('emailaddress')?.errors?.alreadyExist) {
                <mat-error>
                Email alreay exist, Please try another one </mat-error>
              }
              <mat-hint class="adrem">
                @if ((i === rowCount-1) && (contactFilter.length-1 !== i)) {
                  <button mat-button color="primary" matTooltip="Add"
                    matTooltipClass="accent-tooltip" (click)="addItem()"> <i class="icon-plus-circle"></i> </button>
                  }
                  @if (i!=rowCount + 1 && rowCount !== 1) {
                    <button type="reset" mat-button color="warn" matTooltip="Remove" matTooltipClass="accent-tooltip"
                      (click)="removecontrol(i)"> <i class="icon-x-circle"></i>
                    </button>
                  }
                </mat-hint>
              </mat-form-field>
            </div>
            <!-- <div class="adrem" fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="20%" fxFlex.xs="100%">
          </div> -->
        </div>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutGap="20px">
          <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%">
            <mat-chip-grid #chipList aria-label="Fruit selection">
              @for (fruit of item.get('contact').value; track fruit) {
                <mat-chip-row [removable]="true"
                  (removed)="remove(fruit, i)">
                  {{fruit.contactData}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip-row>
              }
            </mat-chip-grid>
          </div>
        </div>
      </div>
      <!-- {{item.get('contact').value|json}} -->
    </div>
  }
</div>