.select-test-viewport {
    height: 192px;
    width: 200px;
    border: 1px solid black;
}

.autocomplete-test-viewport {
    height: 200px;
    border: 1px solid black;
}

.autocomplete-item {
    height: 50px;
}

[hidden] {
    display: none !important;
}

.note {
    width: 482% !important;
    text-align: left;
}

.eduview {
    white-space: pre;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}