.mat-mdc-text-field-wrapper {
    position: unset !important;
}
.mat-mdc-text-field-wrapper {
    position: unset !important;
}

::ng-deep .search_select_custom .p-multiselect-header{
    min-width:300px !important;
}