<div fxLayout="row" class="b-crumb">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
    </ol>
  </div>
  <div fxFlex="100%" class="b-crumb-toolbar"></div>
</div>
<div class="content-area">
  <div fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="77%" fxFlex.lg="77%" fxFlex.md="77%" fxFlex.sm="100%" fxFlex.xs="100%">
      <div fxLayout="row">
        <div fxFlex="100%">
          <h1 class="welcome">Welcome to Verification Tracking System Dashboard!</h1>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%" class="un-dt"> <i class="icon-user"></i>dheerkalakshmi.babu&#64;acheckglobal.in <i class="icon-key"></i>Last logined on Thu Jan 09 2020 11:20:55 GMT+0530 (IST) </div>
      </div>
      <div fxLayout="row" fxLayoutGap="15px"  class="pb-15">
        <div fxFlex="30%">
          <div class="GreenGrad Gbox"> <i class="icon-check-circle"></i>
            <h4>Total Verification</h4>
            <p>The total number of verifications for the VTS team is:</p>
            <div class="mt-15"><span class="count">5896</span> <a href="#" class="more">more...</a></div>
          </div>
        </div>
        <div fxFlex="30%">
          <div class="PurpleGrad Gbox"> <i class="icon-bubble"></i>
            <h4>Call Exceeding Charges</h4>
            <p>The respone calling charges exceeding for the VTS team is:</p>
            <div class="mt-15"><span class="count">204</span> <a href="#" class="more">more...</a></div>
          </div>
        </div>
        <div fxFlex="40%">
          <div class="RedGrad Gbox"> <i class="icon-wallet"></i>
            <h4>Total Fee</h4>
            <p>The Total Fee for the VTS team is (the case including the University fee, handling fee, calling charges):</p>
            <div class="mt-15"><span class="count">6213</span> <a href="#" class="more">more...</a></div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap" fxLayout.xs="column"
  fxLayoutGap="grid" fxLayoutGap.sm="grid" class="DbBg">
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-casecreation icolorFour"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">36</span> <span class="name">Case Creation</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-scopenotassigned icolorFive"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">12</span> <span class="name">Scope Not Assigned</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-scopeassigned icolorOne"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">7</span> <span class="name">Scope Assigned</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-scopeloaapproved icolorThree"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">18</span> <span class="name">Scope LOA Approved</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-scopeloapending icolorFive"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">21</span> <span class="name">Scope LOA  Pending</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-approved icolorThree"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">5</span> <span class="name">LOA Approval</span> </div>
            </a> </div>
        </div>
        <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="50%" fxFlex.xs="100%" class="list">
          <div fxLayout="row"> <a href="">
            <div fxFlex="35%" fxFlex.lg="35%" fxFlex.md="35%" fxFlex.sm="50%" fxFlex.xs="100%"> <i class="icon-insufficiency icolorFive"></i> </div>
            <div fxFlex="65%" fxFlex.lg="65%" fxFlex.md="65%" fxFlex.sm="50%" fxFlex.xs="100%"> <span class="count">9</span> <span class="name">Insufficiency</span> </div>
            </a> </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap" fxLayout.xs="column"
      fxLayoutGap="15px grid" class="mt-15">
        <div fxFlex="50%">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h1 class="header-title">Scope Details</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex="100%"> <img src="assets/images/graph.jpg" style="width: 100%;"> </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="50%">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h1 class="header-title">Scope Details</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex="100%"> <img src="assets/images/graph.jpg" style="width: 100%;"> </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="50%">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <h1 class="header-title">Scope Details</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row">
                <div fxFlex="100%"> <img src="assets/images/graph.jpg" style="width: 100%;"> </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="23%" fxFlex.lg="23%" fxFlex.md="23%" fxFlex.sm="100%" fxFlex.xs="100%">
      <div fxLayout="row" class="pb-15">
        <div fxFlex="100%">
          <div class="BlueGrad Gbox"> <i class="icon-documentreview"></i>
            <h4>Case Creation</h4>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. </p>
            <div class="mt-15">
              <button mat-flat-button color="accent">+ Create Case</button>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <mat-card class="homeSide">
            <mat-card-header>
              <mat-card-title>
                <h1 class="header-title">Quick Links</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-accordion class="db-accord">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> <i class="icon-callback"></i>Call Back </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="dbody">
                    <p>Pre.Remaining <em><a href="">54</a></em></p>
                    <p>Last Week <em><a href="">54</a></em></p>
                    <p>Last Day <em><a href="">54</a></em></p>
                    <p>Current Day <em><a href="">54</a></em></p>
                    <p>Next Day <em><a href="">54</a></em></p>
                    <p>Third Day <em><a href="">54</a></em></p>
                    <p>Fourth Day <em><a href="">54</a></em></p>
                    <p>Fifth Day <em><a href="">54</a></em></p>
                    <p>Sixth Day <em><a href="">54</a></em></p>
                    <p>Seventh Day <em><a href="">54</a></em></p>
                    <p>8 to 14 Days <em><a href="">54</a></em></p>
                    <p>15 to 30 Days <em><a href="">54</a></em></p>
                    <p>Remaining Days <em><a href="">54</a></em></p>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> <i class="icon-pendingstatus"></i>Pending Status </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="dbody">
                    <p>Approval <em><a href="">54</a></em></p>
                    <p>Fee Approval <em><a href="">54</a></em></p>
                    <p>Supp. doc/Approval <em><a href="">54</a></em></p>
                    <p>Supp. doc/info <em><a href="">54</a></em></p>
                    <p>WIP (Email Conf) <em><a href="">54</a></em></p>
                    <p>WIP (Letter Conf) <em><a href="">54</a></em></p>
                    <p>Contact Details <em><a href="">54</a></em></p>
                    <p>Query <em><a href="">54</a></em></p>
                    <p>Supp. doc/Fee Approval <em><a href="">54</a></em></p>
                    <p>WI <em><a href="">54</a></em></p>
                    <p>WIP (Fax Conf) <em><a href="">54</a></em></p>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> <i class="icon-others"></i>Others </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="dbody">
                    <p>Open <em><a href="">54</a></em></p>
                    <p>Pending – On HoldInsuff <em><a href="">54</a></em></p>
                    <p>ReviewInsuff <em><a href="">54</a></em></p>
                    <p>To CloseInsuff <em><a href="">54</a></em></p>
                    <p>Response Pending <em><a href="">54</a></em></p>
                    <p>Delta and High Priority <em><a href="">54</a></em></p>
                    <p>Verizon Priority <em><a href="">54</a></em></p>
                    <p>Insuff Clearence <em><a href="">54</a></em></p>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> <i class="icon-reopen"></i>Re-Open </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="dbody">
                    <p>Open <em><a href="">54</a></em></p>
                    <p>On Hold <em><a href="">54</a></em></p>
                    <p>Review <em><a href="">54</a></em></p>
                    <p>WIP (Email Conf) <em><a href="">54</a></em></p>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> <i class="icon-bell"></i>Notification </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="dbody">
                    <p>7th Day Tracker <em><a href="">54</a></em></p>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>