<form [formGroup]="mainForm" autocomplete="off" role="presentation">
  <app-common-base-info [mainForm]="mainForm" [formgroupName]="'screeningComponentInfo'" [compBaseDetails]="compBaseDetails" (emitNotappChange)="notApplicable($event)" [showNotApplicable]="showNotApplicable">
  </app-common-base-info>
  <div [formGroupName]="formgroupName">
    <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
      <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Voter Id</mat-label>
          <input formControlName="voterId" #voter autocomplete="off" role="presentation" maxlength="17" type="text" matInput placeholder="Voter Id" required (keyup)="voter.value = voter.value.toUpperCase()">
          <mat-hint>(First three characters are letters (A-Z),next 7 numerics (0-9).Eg:AAA9999999 Or Eg:AA/00/000/0000000)
          </mat-hint>
          @if (!!mainForm?.get(formgroupName)?.get('voterId')?.errors?.required) {
            <mat-error>
              Voter Id is required
            </mat-error>
          }
          @if (!!mainForm?.get(formgroupName)?.get('voterId')?.errors?.voter?.invalidPattern) {
            <mat-error> Voter id is invalid (Eg:AAA9999999 Or Eg:AA/00/000/0000000) </mat-error>
          }
        </mat-form-field>
      </div>
      <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Voter Name</mat-label>
          <input formControlName="voterName" autocomplete="off" role="presentation" maxlength="100" type="text" matInput placeholder="Voter Name" required>
          @if (!!mainForm?.get(formgroupName)?.get('voterName')?.errors?.required) {
            <mat-error>
              Voter Name is required
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="100%" fxFlex.xs="100%">
        <mat-label class="lbl">Gender</mat-label>
        <mat-radio-group formControlName="genderLookupId" aria-label="Select an option" fxLayoutGap="20px">
          @for (gender of genderDetails; track gender) {
            <mat-radio-button [value]="gender.lookUpId" fxLayoutGap="20px" (input)="gendername(gender.lookUpId)" (click)="gendername(gender.lookUpId)">
            {{gender.lookUpName}}</mat-radio-button>
          }
        </mat-radio-group>
        @if (!!mainForm?.get(formgroupName)?.get('genderLookupId')?.errors?.required) {
          <mat-error>
            Gender is required
          </mat-error>
        }
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="100%">
      <h3 class="sub-header">Voter Address Details</h3>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
    <div fxFlex="100%">
      <app-address [addressList]="address" [addressformgrp]="getAddressForm()"></app-address>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="0px" class="mb-10">
    <div fxFlex="100%">
      <app-custom-fields [mainForm]="mainForm" [formArrName]="'componentCustomFields'"></app-custom-fields>
    </div>
  </div>
  @if (!fileBtn) {
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fLayoutGap.xs="0px grid">
      <div fxFlex="67%" fxFlex.lg="67%" fxFlex.md="67%" fxFlex.sm="100%" fxFlex.xs="100%" [formGroupName]="'screeningComponentInfo'">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Remarks</mat-label>
          <textarea #remark formControlName="remark" maxlength="1000" matInput placeholder="Remarks"> </textarea>
          <mat-hint>({{remark.value.length}}/1000 Max)</mat-hint>
        </mat-form-field>
      </div>
      @if (!hiddenInsuff && !mainForm?.value?.qcRejectComments?.length) {
        <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="100%" fxFlex.xs="100%" [formGroupName]="'screeningComponentInfo'">
          <mat-label class="lbl">Choose</mat-label>
          <mat-checkbox (change)="showInsuff()" formControlName="insuffRaisedFlag">Raise Insufficiency</mat-checkbox>
        </div>
      }
    </div>
  }

  @if (mainForm.get('screeningComponentInfo.insuffRemark')?.value.length>0) {
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
      <div fxFlex="100%">
        <div class="alert alert-info" role="alert">
          <h4>Insufficiency Clearance Remarks: </h4>
          @for (insuffRemark of mainForm.get('screeningComponentInfo.insuffRemark')?.value; track insuffRemark; let count = $count; let i = $index) {
            <span>
              {{count>1? i+1 :''}} {{insuffRemark}}<br> </span>
            }
          </div>
        </div>
      </div>
    }
    @if (showInSuff) {
      <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
        <div fxFlex="100%">
          <app-common-raise-insufficiency [docdata]="docdata" [docList]="docList" [mainForm]="mainForm" [compBaseDetails]="mainForm.get('screeningComponentInfo').value" [formgroupName]="'screeningInsufficiency'">
          </app-common-raise-insufficiency>
        </div>
      </div>
    }
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
      <div fxFlex="100%">
        <app-client-app-document-upload [fileBtn]="fileBtn" [mainForm]="mainForm" [formgroupName]="'screeningComponentInfo'" [dupScreeningDoc]="screeningComponent.componentDocument" [validationFlag]="nFlag !== true  &&userData.applicationId === 3 ? true : false"></app-client-app-document-upload>
      </div>
    </div>
  </form>