@if (common.CHANGEPASSWORD == action) {
  <div fxFlex="100%">
    <form [formGroup]="changePasswordFormGroup" autocomplete='off'>
      <h1 mat-dialog-title>{{ headerText }}</h1>
      <mat-dialog-content>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.xs="column">
          <div fxFlex="100%" fxFlex.lg="100%" fxFlex.xs="100%">
            <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
              <mat-label>Old Password</mat-label>
              <input matInput placeholder="Password" #passvalue
                (keyup)="keypressevent($event,passvalue.value);checkPassword()" (keydown)="keypressevent($event)"
                (appCapsLock)="checkcapsOn($event)" (focus)="checkcaps()" [type]="hide ? 'password' : 'text'"
                formControlName="oldPassword">
              @if (!!changePasswordFormGroup.get('oldPassword')?.errors?.required) {
                <mat-error> Old Password is required
                </mat-error>
              }
              @if (!!changePasswordFormGroup.get('oldPassword')?.errors?.incorrect) {
                <mat-error>The
                Password entered did not match</mat-error>
              }
              <button mat-icon-button matSuffix (click)="$event.sourceCapabilities ? hide = !hide : true"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="material-icons-outlined">{{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.xs="column">
          <div fxFlex="100%" fxFlex.lg="100%" fxFlex.xs="100%">
            <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="Password" (blur)="isShow= false;passwordValidation()" minlength="6" #pass
                maxlength="15" (keydown)="keypressevent($event)" (keyup)="passwordChange(pass.value)"
                (appCapsLock)="checkcapsOn($event)" (focus)="checkcaps()" [type]="hide1 ? 'password' : 'text'"
                formControlName="newPassword">
              @if (!!changePasswordFormGroup.get('newPassword')?.errors?.required) {
                <mat-error> New Password is required
                </mat-error>
              }
              @if (!!changePasswordFormGroup.get('newPassword')?.errors?.incorrect && newFlag===true) {
                <mat-error>The
                Password already exists!</mat-error>
              }
              @if (!!changePasswordFormGroup.get('newPassword')?.errors?.incorrect && newFlagPsw===true) {
                <mat-error>
                Enter Valid Password</mat-error>
              }
              <button mat-icon-button matSuffix (click)="$event.sourceCapabilities ? hide1 = !hide1 : true"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon class="material-icons-outlined">{{hide1 ? 'visibility_off' : 'visibility'}} </mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        @if (isShow) {
          <div fxlayout="row">
            <div fxFlex="100%">
              <div class="pswd-hint"> <b>Password must:</b>
              <ul>
                <li [ngClass]="numberflag?'done':''"><i class="material-icons">check</i>At least 1
              Numeric Value</li>
              <li [ngClass]="charflag?'done':''"><i class="material-icons">check</i>At least 1
            Alphapet</li>
            <li [ngClass]="uniqueflag?'done':''"><i class="material-icons">check</i>At least 1
          Special Character</li>
          <li [ngClass]="minflag?'done':''"><i class="material-icons">check</i>Minimum of 8
        characters </li>
      </ul>
    </div>
  </div>
</div>
}
<div fxLayout="row" fxLayout.lg="row" fxLayout.xs="column">
  <div fxFlex="100%" fxFlex.lg="100%" fxFlex.xs="100%">
    <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Password" (blur)="confirmPswValidation()" minlength="6" maxlength="15"
        (keyup)="keypressevent($event)" (keydown)="keypressevent($event)" (appCapsLock)="checkcapsOn($event)"
        (focus)="checkcaps()" [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword">
      @if (!!changePasswordFormGroup.get('confirmPassword')?.errors?.required) {
        <mat-error> Confirm Password is
        required </mat-error>
      }
      @if (!!changePasswordFormGroup?.get('confirmPassword')?.errors?.notEquivalent
        && changePasswordFormGroup?.get('confirmPassword')?.dirty) {
        <mat-error> Password did not match.
        </mat-error>
      }
      <button mat-icon-button matSuffix (click)="$event.sourceCapabilities ? hide2 = !hide2 : true"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
        <mat-icon class="material-icons-outlined">{{hide2 ? 'visibility_off' : 'visibility'}} </mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
@if (iscapsOn) {
  <div fxLayout="row">
    <mat-hint>Caps Lock is on</mat-hint>
  </div>
}
</mat-dialog-content>
<mat-dialog-actions fxLayoutGap="8px" fxLayoutAlign="end center">
  <button mat-flat-button type="submit" (click)="insertChangePassword()" color="warn" matTooltip="Change Password" matTooltipClass="accent-tooltip" >Change Password</button>
  <button mat-stroked-button matTooltip="Close" matTooltipClass="accent-tooltip" (click)="closeDialog()">Close</button>
</mat-dialog-actions>
</form>
</div>
}