<div class="FullBody">
  <div class="HeaderBg">
    <div class="HContBody">
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="100%">
          <div class="LogTxt">
            <a href="#aaa" routerLink="/" class="link">
              <div class="Logo lnd-logo kryalogo">
                 <i class="icon-K-transparent"></i>
              </div>
              <div class="logo-lett">
                <div class="logo-txt">Krya Screening Private Limited</div>
                <!-- <div class="logo-sol">Screening Made Smart</div> -->
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ContBody">
    <h1>Privacy Policy</h1>
    <p> Krya Screening Private Limited is committed to protecting the privacy and personal information provided by individuals in this
      site.Please read this policy before using Krya Screening Private Limited website or submitting any personal information in this
      site.
      By using the site, you are accepting the practices described in this privacy policy. These practices may change
      from
      time to time so please check back periodically. Furthermore, the contents of this policy has been drafted in
      accordance
      with the provisions of the Information Technology Act, 2000. </p>
    <p>If, at any time, you have questions or concerns about Krya Screening Private Limited's privacy commitment, please feel free to
      contact us at <a href="mailto:contact&#64;kryacheck.com">contact&#64;kryacheck.com</a> Please note that this Policy is
      only applicable to our online users and data gathered on our website www.kryascreening.com and not to any other
      information or website.</p>
    <h3>Information Collected</h3>
    <p>Krya Screening Private Limited collects information about users of this site, such as the pages, users visit most frequently, the
      services, users access the most, and the links in this site that users most often visit. This information helps us
      determine what is most beneficial for our users, and how we can continually improve the services and features
      provided to the users of our site. We collect personally identifiable information, like names, email addresses,
      company name and phone number etc., when voluntarily submitted by our visitors to fulfill a specific request. The
      website may also ask for your permission for certain uses, and you can agree to or decline those uses. If you
      subscribe for particular services or communications, such as an e-newsletter, you will be able to unsubscribe at
      any time by following the instructions included in each communication. If you decide to unsubscribe from a service
      or communication, we will try to remove your information promptly, although we may require additional information
      before we can process your request. All information given to us is kept confidential and not sold or given away in
      any form. You can also make a request to update or remove information about you by contacting Krya Screening Private Limited, so
      long as it is consistent with applicable law and professional standards.</p>
    <h3>Email</h3>
    <p>The e-mail communication and any attachments to it (made via Krya website) are confidential and/ or privileged
      to Krya Screening Private Limited. They are strictly intended only for the personal and confidential use of the designated
      recipient(s) named in the e-mail recipient space. Such information may be stored indefinitely and may be collected
      and processed in one or more databases maintained directly or indirectly by Krya Screening Private Limited. Krya Screening Private Limited may use
      your email details for marketing purposes in order to make you aware of additional services which may be of
      interest to you, or to contact you regarding changes to and new offerings on our site, and special events and
      promotions including surveys, webinars, etc, which will help us improve the service and features made available to
      you on this site.</p>
    <h3>Cookies</h3>
    <p>To enhance your experience at www.kryascreening.com, we use cookies feature. Cookies help us in remembering user
      names and passwords and preferences, tracking click streams, and for load balancing. Because of our use of
      cookies, we can deliver faster service, consistent, updated results, and a more personalized website experience.
      If you are uncomfortable regarding cookies use, please keep in mind you can disable cookies on your computer by
      changing the settings in preferences.</p>
    <h3>Disclosure of Information</h3>
    <p>Krya Screening Private Limited dejects the selling of information that assists in promoting "Identity Theft". Krya Screening Private Limited will
      not knowingly disclose to any third party, information about your visits to the site or your name, address, e-mail
      address, telephone number, or use such Information except in connection with the performance of the services
      agreed by you and to the extent necessary or appropriate to comply with law enforcement offices, with Government
      agencies mandated under the law to obtain information including sensitive personal data or information for the
      purpose of verification of identity, or for prevention, detection, investigation including cyber incidents,
      prosecution, and punishment of offences. In case of an amalgamation, merger, acquisition or business transfer,
      Krya Screening Private Limited will transfer all your Information to the acquirer. Krya Screening Private Limited cannot ensure that all of your
      Information will never be disclosed in ways not otherwise described in this Privacy Policy.</p>
    <p> Krya Screening Private Limited is not responsible or liable for the acquisition of your personal information by third parties
      without Krya Screening Private Limited's knowledge and Krya Screening Private Limited has no control over anything that occurs on servers not
      controlled by Krya Screening Private Limited. As a user of the website, you understand and agree that you assume all
      responsibility and risk for your use of this website, the internet generally, and the documents you post or access
      and for your conduct on and off this website. </p>
    <h3>Security Practices</h3>
    <p>Krya Screening Private Limited has granted access to the user information to those who have a need to know. Those individuals who
      have access to the data are required to maintain the confidentiality. Krya Screening Private Limited is not responsible or liable
      for the privacy of your information if some other third party evades security measures and gains access to the
      information. Any communications in the form of information, feedback, data, questions, comments, suggestions or
      other items shall become property of Krya Screening Private Limited and we shall be free to reproduce, use, disclose and
      distribute such communication to others, without limitation.</p>
    <h3>Policy Contact Information</h3>
    <p>You may review the Policy periodically to understand the Privacy protection offered by Krya Screening Private Limited for your
      Information. If you have any questions, concerns, or comments about our privacy policy, please direct your
      communications to: <b>Krya Screening Private Limited, No.155, 1st Floor, Developed Plot Industrial Estates, Estate Main Road,
        Perungudi, Chennai - 600096</b></p>
  </div>
  <footer><strong>Verification Tracking System.</strong> Copyright © Krya Screening Private Limited. All rights reserved.
    <a routerLink="/privacy" target="_blank">Privacy Policies</a></footer>
</div>