<app-breadcrumb [btnAdd]="breadcrumbFlag.btnAdd" [btnSave]="breadcrumbFlag.btnSave"
  [btnSaveDisabled]="breadcrumbFlag.btnSaveDisabled" [btnBack]="breadcrumbFlag.btnBack"
  [btnReset]="breadcrumbFlag.btnReset" [btnResetTbl]="breadcrumbFlag.btnResetTbl" (eventAdd)="addDrugKit()"
  [routePath]="routePath" (eventBack)="closeDrugKit()" (eventSave)="SaveUpdate()" [toolTip]="breadcrumbFlag.toolTip"
(eventReset)="resetForm()" (eventResetTbl)="resetTable()" [btnAddDisabled]="!screenAuth.addFlag"></app-breadcrumb>

<!-- <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="cloumn" fxLayout.xs="cloumn"
fxLayoutGap="20px grid">
<div fxFlex="100%">  -->


  <mat-card>
    <div fxLayout="row">
      <mat-card-header fxFlex="100%">
        <div fxFlex="100%">
          <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="10px">
            <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="70%" fxFlex.xs="100%" fxLayoutAlign="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.xs="start center">
              <mat-card-title>
                <h1 class="header-title">Drug Kit</h1>
              </mat-card-title>
            </div>
            <span fxFlex></span>
            <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="30%" fxFlex.xs="100%" fxHide.xs fxLayoutAlign="end center" fxLayoutAlign.sm="end center">
              @if (!showDrugKit) {
                <div class="tbl-commonsearch" >
                  <mat-form-field fxFlex="100%">
                    <mat-label></mat-label>
                    <mat-icon matPrefix><i class="icon-search1"></i></mat-icon>
                    <input #global matInput size="50" placeholder="Search..." autocomplete="off" (input)="dt?.filterGlobal($event.target.value, 'contains')" />
                  </mat-form-field>
                </div>
              }
            </div>
          </div>
        </div>
      </mat-card-header>
    </div>
    <mat-card-content>

      <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
        fxLayoutGap="20px grid">
        <div fxFlex="100%">

          @if (showDrugKit) {
            <form [formGroup]="drugKitFormGroup" class="form-center" id="ngForm" autocomplete="off">
              <!-- <div class="page-container"> -->
              <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
                fxLayoutGap="20px grid" fxLayoutGap.xs="0px grid">
                <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                  <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
                    <mat-label>Drug Kit Name</mat-label>
                    <input matInput type="text" mat-autofocus="true" placeholder="Drug Kit Name" required
                      maxlength="60" (blur)="checkKitName()" formControlName="kitName" autocomplete="off"
                      role="presentation" />
                      @if (!!drugKitFormGroup.get('kitName').errors?.required) {
                        <mat-error>Drug kit name is required
                        </mat-error>
                      }
                      @if (!!drugKitFormGroup?.get('kitName')?.errors?.minlength) {
                        <mat-error>
                          Drug
                          kit name should have minimum 3 characters
                        </mat-error>
                      }
                      @if (!!drugKitFormGroup?.get('kitName')?.errors?.incorrect) {
                        <mat-error>
                          Drug
                          kit name is already exists
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                  <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%">
                    <mat-label class="lbl">Is Active</mat-label>
                    <mat-checkbox formControlName="active">Active </mat-checkbox>
                  </div>
                </div>
              <!-- </div> -->
            </form>
          }

        </div>
      </div>


      @if (!showDrugKit) {
        <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
          fxLayoutGap="20px grid">
          <div fxFlex="100%">
            <p-table
              #dt
              [columns]="cols"
              [value]="drugList"
              [scrollable]="true"
              scrollHeight=""
              [paginator]="true"
              [rows]="10"
              [resizableColumns]="true"
              [reorderableColumns]="true"
              frozenWidth="100px"
              [frozenColumns]="frozenCols">
              <!-- ===== COLGROUP ===== -->
              <ng-template pTemplate="colgroup" let-colGroupCols>
                <colgroup>
                @for (col of colGroupCols; track col) {
                  <col style="min-width:200px" />
                }
              </colgroup>
            </ng-template>
            <!-- ===== HEADER ===== -->
            <ng-template pTemplate="header" let-headerCols>
              <tr>
                @for (col of headerCols; track col) {
                  <th
                    pReorderableColumn
                    pResizableColumn>
                    <span [pSortableColumn]="col.field">
                      <div class="thname">{{ col.header }}</div>
                      @if (col.field !== 'action') {
                        <p-sortIcon
                          ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          matTooltip="Sorting"
                          matTooltipClass="accent-tooltip"
                          ariaLabelAsc="Activate to sort in ascending order">
                        </p-sortIcon>
                      }
                    </span>
                    <!-- SEARCH -->
                    <span class="ico-fieldsearch">
                      @if (col.field === 'kitName') {
                        <i
                          class="icon-search2"
                          matTooltip="Search"
                          matTooltipClass="accent-tooltip"
                          (click)="drugKitNameTrigger.openMenu()">
                        </i>
                      }
                    </span>
                    <!-- KIT NAME FILTER -->
                    @if (col.field === 'kitName') {
                      <span>
                        <div matTooltip="Drug Kit Name"
                          matTooltipClass="accent-tooltip"
                          #drugKitNameTrigger="matMenuTrigger"
                          [matMenuTriggerFor]="kitNameCtrl"
                          fxLayout="row"
                          fxLayoutAlign="space-between center"
                          class="txtborder-bot">
                        </div>
                        <mat-menu #kitNameCtrl class="pos-top">
                          <div fxLayout="row">
                            <div fxFlex="100%" class="p-10 tbl-fillddl">
                              <mat-form-field (click)="$event.stopPropagation()">
                                <input
                                  type="text"
                                  #drugKitNameCtl
                                  matInput
                                  [matAutocomplete]="autoDrugKitName"
                                  placeholder="Drug Kit Name"
                                  autocomplete="off"
                                  (click)="drugKitNameCtl.select()"
                                  [formControl]="drugkitNameFormCtrl"
                                  (keyup)="dt.filter($event.target.value, col.field, 'contains')" />
                                </mat-form-field>
                                <mat-autocomplete #autoDrugKitName="matAutocomplete">
                                  @for (option of kitNameFilteredOptions | async; track option) {
                                    <mat-option
                                      (onSelectionChange)="drugKitNameTrigger.closeMenu()"
                                      [value]="option">
                                      <span [innerHTML]="option"></span>
                                    </mat-option>
                                  }
                                </mat-autocomplete>
                              </div>
                            </div>
                            <div fxLayout="row" class="p-10">
                              <div fxFlex="100%" class="text-right">
                                <a class="text-sm">Cancel</a>
                                @if (drugKitNameCtl.value) {
                                  <a
                                    class="text-sm"
                                    (click)="dt.filter('', col.field, 'contains'); drugkitNameFormCtrl.setValue('')">
                                    Reset
                                  </a>
                                }
                              </div>
                            </div>
                          </mat-menu>
                        </span>
                      }
                    </th>
                  }
                </tr>
              </ng-template>
              <!-- ===== BODY ===== -->
              <ng-template
                pTemplate="body"
                let-rowData
                let-bodyCols="columns">
                <tr>
                  @for (col of bodyCols; track col) {
                    <td
                      [ngClass]="{ 'desg-bg': col.field === 'action' }"
                      style="width:200px">
                      @if (col.field === 'kitName') {
                        <div>{{ rowData.kitName }}</div>
                      }
                      @if (col.field === 'active') {
                        <div fxLayout="row" class="tbl-icon">
                          @if (rowData.active) {
                            <span class="istrue">
                              <i matTooltip="Active" class="material-icons">thumb_up</i>
                            </span>
                          }
                          @if (!rowData.active) {
                            <span class="isfalse">
                              <i matTooltip="In-Active" class="material-icons">thumb_down</i>
                            </span>
                          }
                        </div>
                      }
                      <!-- ACTION -->
                      @if (col.field === 'action') {
                        <div fxLayout="row" class="desg-icon">
                          <div fxFlex="100%" fxLayoutGap="10px">
                            <mat-icon [ngClass]="screenAuth.editFlag === false ? 'page-btn disabled' : ''">
                              <i class="material-icons-outlined"
                                matTooltip="Edit"
                                (click)="editOpen(rowData,'edit')">
                                edit
                              </i>
                            </mat-icon>
                            <mat-icon [ngClass]="screenAuth.deleteFlag === false ? 'page-btn disabled' : ''">
                              <i class="material-icons-outlined"
                                matTooltip="Delete"
                                (click)="openDialog(rowData)">
                                delete
                              </i>
                            </mat-icon>
                            <mat-icon [ngClass]="screenAuth.viewFlag === false ? 'page-btn disabled' : ''">
                              <i class="material-icons-outlined"
                                matTooltip="View"
                                (click)="editOpen(rowData,'view')">
                                visibility
                              </i>
                            </mat-icon>
                          </div>
                        </div>
                      }
                    </td>
                  }
                </tr>
              </ng-template>
            </p-table>
            <div class="cus-paginator" [ngClass]="drugList.length == 0? 'empty-record':''" fxLayout="row wrap"
              class="cus-paginator" fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid" fxLayoutGap.xs="20px grid">
              <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%"
                fxLayoutAlign="start center">
                Showing {{ dt.totalRecords
                < 1 ? 0 : dt.first + 1 }} - {{ dt.totalRecords> 0 ? dt.rows + dt.first
                <=dt.totalRecords ? dt.rows + dt.first : dt.totalRecords : 0 }} of
              {{ dt.totalRecords }} record(s) </div>
              <span fxFlex fxHide.md fxHide.sm fxHide.xs></span>
              <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
                fxLayoutAlign="end center" fxLayoutAlign.md="end center" fxLayoutAlign.sm="start center"
                fxLayoutAlign.xs="start center">
                <a [ngClass]="dt.first === 0 ? 'page-btn disabled' : 'page-btn'" (click)="
                            dt.onPageChange({ first: dt.first - dt.rows, rows: dt.rows });
                            navigateNxtPrevPage(dt.first + dt.rows, dt.rows)
                          ">
                  <i class="icon-control-start mr-5"></i></a>
                  <span class="gotopagbg mr-2 ml-2" fxHide.xs>Go to Page<span class="input-num">
                    <input type="number" #pageNo [(ngModel)]="currentPage" maxlength="5" min="1" appNumberOnly
                    [NumberOnly]="false" (keyup.enter)="navigatePage(pageNo.value, dt.rows)" /> </span></span>
                    <span class="mr-2" fxHide.xs> of {{ getTotalPages(dt.totalRecords, dt.rows) }}</span>
                <a [ngClass]="
                            dt.rows + dt.first >= dt.totalRecords
                              ? 'page-btn disabled'
                              : 'page-btn'
                          " (click)="
                            dt.onPageChange({ first: dt.first + dt.rows, rows: dt.rows });
                            navigateNxtPrevPage(dt.first + dt.rows, dt.rows)
                          "><i class="icon-control-end ml-5"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            }
          </mat-card-content>
        <!-- </mat-card>
      </div>
    </div> -->