<app-breadcrumb [btnApprove]="btnApprove" [btnReject]="btnApprove" [btnBack]="true" [btnReset]="false"
  [btnExcelExport]="isGridPage" (eventExcelExport)="exportAsExcelFile()" [btnResetTbl]="isGridPage"
  (eventApprove)="openPopup(true)" (eventReject)="openPopuprej(false)" [routePath]='routePath' (eventBack)="back()"
  (eventResetTbl)="resetTbl()">
</app-breadcrumb>
<div fxLayout="row">
  <div fxFlex="100%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div fxLayout="row">
            <div fxFlex="70%">
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column"
                fxLayout.xs="column" fxLayoutGap="10px">
                <h1 class="header-title">Red Case Approval</h1>
              </div>
            </div>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (isGridPage) {
          <div fxLayout="row" fxLayoutGap="60px">
            <div fxFlex="100%" fxLayoutAlign="end end">
              <div class="tbl-commonsearch">
                <mat-form-field fxFlex="100%">
                  <mat-label></mat-label>
                  <mat-icon matPrefix>search</mat-icon>
                  <input #global matInput placeholder="Search here..." type="text" pInputText size="50"
                    (input)="dt?.filterGlobal($event.target.value, 'contains')">
                  </mat-form-field>
                </div>
              </div>
            </div>
          }
          @if (isGridPage) {
            <div fxLayout="row">
              <div fxFlex="100%">
                <!-- <mat-tab-group>
                <mat-tab *ngFor="let res of researchStatusValue" label="{{res.lookUpName}}"> -->
                  <div fxLayout="row" fxLayoutGap="0px">
                    <div fxFlex="100%">
                      <p-table
                        #dt
                        [columns]="gridColumnsAll"
                        [value]="redCaseApprovalValue"
                        [scrollable]="true"
                        scrollHeight=""
                        [paginator]="true"
                        [rows]="itemperpage"
                        [resizableColumns]="true"
                        [reorderableColumns]="true"
                        frozenWidth="100px"
                        [frozenColumns]="gridFrozenCols"
                        columnResizeMode="expand">
                        <!-- ================= COLGROUP ================= -->
                        <ng-template pTemplate="colgroup" let-colGroupCols>
                          <colgroup>
                          @for (col of colGroupCols; track col) {
                            <col
                              [style.width]="col.field === 'check' ? '70px' : '200px'" />
                          }
                        </colgroup>
                      </ng-template>
                      <!-- ================= HEADER ================= -->
                      <ng-template pTemplate="header" let-headerCols>
                        <tr>
                          @for (col of headerCols; track col) {
                            <th
                              pReorderableColumn
                              pResizableColumn>
                              <span [pSortableColumn]="col.field">
                                <div
                                  matTooltip="{{ col.header }}"
                                  matTooltipClass="accent-tooltip"
                                  class="thname">
                                  {{ col.header }}
                                </div>
                                @if (col.field !== 'action') {
                                  <p-sortIcon
                                    [field]="col.field"
                                    ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    matTooltip="Sorting"
                                    matTooltipClass="accent-tooltip"
                                    ariaLabelAsc="Activate to sort in ascending order">
                                  </p-sortIcon>
                                }
                              </span>
                              <!-- 🔽 search icons & all filter menus remain UNCHANGED 🔽 -->
                              <!-- all ngSwitchCase blocks still reference `col` -->
                            </th>
                          }
                        </tr>
                      </ng-template>
                      <!-- ================= BODY ================= -->
                      <ng-template
                        pTemplate="body"
                        let-rowIndex="rowIndex"
                        let-rowData
                        let-bodyCols="columns">
                        <tr>
                          @for (col of bodyCols; track col) {
                            <td
                              [ngClass]="{ 'desg-bg': col.field === 'action' }">
                              <!-- ACTION -->
                              @if (col.field === 'action') {
                                <div fxLayout="row" class="desg-icon">
                                  <div fxFlex="100%" fxLayoutGap="10px">
                                    <mat-icon>
                                      <i
                                        class="material-icons-outlined"
                                        matTooltip="Approve/Reject"
                                        matTooltipClass="accent-tooltip"
                                        (click)="header = rowData; getRedApprovalCase(rowData, false)">
                                        check_circle_outline
                                      </i>
                                    </mat-icon>
                                  </div>
                                </div>
                              }
                              <!-- DATE FIELDS -->
                              @if (col.field === 'assignedDate' || col.field === 'createdDate') {
                                <span>
                                  {{
                                  rowData[col.field]
                                  ? (rowData[col.field] | date: 'dd/MM/yyyy')
                                  : 'N/A'
                                  }}
                                </span>
                              }
                              <!-- OTHER FIELDS -->
                              @if (col.field !== 'assignedDate'
                                && col.field !== 'createdDate'
                                && col.field !== 'action'
                                && col.field !== 'check') {
                                <span>
                                  {{
                                  col.field === 'SNo'
                                  ? (rowIndex + 1)
                                  : (rowData[col.field] ? rowData[col.field] : 'N/A')
                                  }}
                                </span>
                              }
                            </td>
                          }
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
                <div class="cus-paginator" [ngClass]="{'empty-record': redCaseApprovalValue?.length == 0}"
                  fxLayout="row wrap" fxLayoutGap="0px grid" fxLayoutGap.sm="20px grid"
                  fxLayoutGap.xs="20px grid">
                  <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="start center"> Showing {{ dt?.totalRecords
                    < 1 ? 0 : dt?.first + 1 }} - {{ dt?.totalRecords> 0 ? dt?.rows + dt?.first
                    <=dt?.totalRecords ? dt?.rows + dt?.first : dt?.totalRecords : 0 }} of {{
                    dt?.totalRecords }} record(s) |&nbsp;<a (click)="showall()">Show All</a>
                  </div>
                  <span fxFlex fxHide.md fxHide.sm fxHide.xs></span>
                  <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="end center" fxLayoutAlign.md="end center" fxLayoutAlign.sm="start center"
                    fxLayoutAlign.xs="start center">
                                <a [ngClass]="dt?.first===0?'page-btn disabled': 'page-btn'" (click)="dt?.onPageChange({ first: dt?.first - dt?.rows, rows: dt?.rows });
                        navigateNxtPrevPage(dt?.first + dt?.rows,dt?.rows)"> <i
                    class="icon-control-start mr-5"></i></a>
                    <span class="gotopagbg mr-2 ml-2" fxHide.xs>Go
                      to Page<span class="input-num">
                      <input type="number" #pageNo [(ngModel)]="currentPage" maxlength="5" min="1"
                        appNumberOnly [NumberOnly]="false"
                        (keyup.enter)="navigatePage(pageNo.value,dt?.rows)" />
                      </span></span> <span class="mr-2" fxHide.xs> Of {{
                    getTotalPages(dt?.totalRecords,dt?.rows) }}</span>
                    <a [ngClass]="(dt?.rows + dt?.first)>=dt?.totalRecords?'page-btn disabled': 'page-btn'"
                                    (click)="dt?.onPageChange({ first: dt?.first + dt?.rows, rows: dt?.rows });

                        navigateNxtPrevPage(dt?.first + dt?.rows,dt?.rows)"><i class="icon-control-end ml-5"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            }
            @if (!isGridPage) {
              <div fxLayout="row">
                <div fxFlex="100%">
                  <div f fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap"
                    fxLayout.sm="column wrap" fxLayout.xs="column" fxLayoutGap="0px grid">
                    <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                      <div class="client-details mb-0">
                        <div class="client-avatar" fxHide.sm fxHide.xs>
                          <i class="icon-referencecheck"></i>
                        </div>
                        <div class="client-data">
                          <h3 matTooltip="Employer details" matTooltipClass="accent-tooltip">
                          {{header?.candidateFirstName}} - ({{header?.clientRefNo}})</h3>
                          <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap"
                            fxLayout.sm="row wrap" fxLayout.xs="column" fxLayoutGap="10px grid"
                            fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
                            <!-- <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%" fxFlex.xs="100%"
                            *ngIf='header?.referenceNo'>
                            <p>
                              <label>Reference Number:</label>
                              <span>{{header?.referenceNo}}</span></p>
                            </div> -->
                            <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%"
                              fxFlex.xs="100%">
                              <p>
                                <label>Client Name:</label>
                                <span>{{header?.clientName}}</span>
                              </p>
                            </div>
                            <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%"
                              fxFlex.xs="100%">
                              <p>
                                <label>Component Name:</label>
                                <span>{{header?.componentName}}</span>
                              </p>
                            </div>
                            <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%"
                              fxFlex.xs="100%">
                              <p>
                                <label>Status:</label>
                                <span>{{header?.componentStatus}}</span>
                              </p>
                            </div>
                            <div fxFlex="33.33%" fxFlex.lg="33.33%" fxFlex.md="33.33%" fxFlex.sm="50%"
                              fxFlex.xs="100%">
                              <p>
                                <label>Verification Id:</label>
                                <span>{{header?.screeningCompId}}</span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </div>