<div class="FullBody">
    <div class="HeaderBg">
        <div class="HContBody">
            <div fxLayout="row" fxFlex="100%">
                <div fxFlex="100%">
                    <div class="LogTxt">
                        <a href="#aaa" routerLink="/" class="link">
                            <div class="Logo lnd-logo kryalogo">
                                 <i class="icon-K-transparent"></i>
                              </div>
                            <div class="logo-lett">
                                <div class="logo-txt">Krya Screening Private Limited</div>
                                <!-- <div class="logo-sol">Screening Made Smart</div> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ContBody">
        <div fxFlex="100%">
            <div fxLayout="row">
                <div fxFlex="100%">
                    <h1 style="font-size: 17px;" class="sub-header">DigiLocker Callback Document</h1>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex="100%">
                    <p>
                        <strong>{{processSteps}}</strong>
                    </p>
                </div>
            </div>
            <!-- <mat-card-actions fxLayoutGap="8px" fxLayoutAlign="end end">
                <span>
                    <button mat-flat-button color="accent" (click)="ProceedClick()">Proceed DigiLocker
                        Verification</button>
                </span>
            </mat-card-actions> -->
        </div>
    </div>
</div>