<form [formGroup]="mainForm" autocomplete="off" role="presentation">
  <app-base-info [mainForm]="mainForm" [formgroupName]="'screeningComponentInfo'" [compBaseDetails]="compBaseDetails"
    (emitNotappChange)="notApplicable($event)" [showNotApplicable]="showNotApplicable">
  </app-base-info>
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="100%">
      <h3 class="sub-header">Judis Court Record Details</h3>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
    <div fxFlex="100%" [formGroupName]="formgroupName" fxLayoutGap="30px">
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Case Country</mat-label>
          <mat-select placeholder="Select Case Country" formControlName="caseCountryId" required>
            <!-- <mat-option *ngFor="let g of gapList" [value]="g.lookUpId"> {{g.lookUpName}}</mat-option> -->
            <mat-option [value]="1"> 1</mat-option>
          </mat-select>
          @if (!!mainForm?.get(formgroupName)?.get('caseCountryId')?.errors?.required) {
            <mat-error>
              Case country is required
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div fxFlex="33.33%">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Case Type</mat-label>
          <mat-select placeholder="Select Case Type" formControlName="caseTypeId" required>
            <!-- <mat-option *ngFor="let g of gapList" [value]="g.lookUpId"> {{g.lookUpName}}</mat-option> -->
            <mat-option [value]="1"> 1</mat-option>
          </mat-select>
          @if (!!mainForm?.get(formgroupName)?.get('caseTypeId')?.errors?.required) {
            <mat-error>
              Case type is required
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex="100%">
      <h3 class="sub-header">Address Details</h3>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
    <div fxFlex="100%">
      <app-address [addressList]="address" [addressformgrp]="getAddressForm()"></app-address>
    </div>
  </div>
  @if (!fileBtn) {
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fLayoutGap.xs="0px grid">
      <div fxFlex="67%" fxFlex.lg="67%" fxFlex.md="67%" fxFlex.sm="100%" fxFlex.xs="100%" [formGroupName]="'screeningComponentInfo'">
        <mat-form-field appearance="outline" fxFlex="100%" floatLabel="always">
          <mat-label>Remarks</mat-label>
          <textarea #remark formControlName="remark" maxlength="1000" matInput placeholder="Remarks"> </textarea>
          <mat-hint>({{remark.value.length}}/1000 Max)</mat-hint>
        </mat-form-field>
      </div>
      @if (!hiddenInsuff && !mainForm?.value?.qcRejectComments?.length) {
        <div fxFlex="33%" fxFlex.lg="33%" fxFlex.md="33%" fxFlex.sm="100%" fxFlex.xs="100%" [formGroupName]="'screeningComponentInfo'">
          <mat-label class="lbl">Choose</mat-label>
          <mat-checkbox (change)="showInsuff()" formControlName="insuffRaisedFlag">Raise Insufficiency</mat-checkbox>
        </div>
      }
    </div>
  }

  @if (mainForm.get('screeningComponentInfo.insuffRemark')?.value.length>0) {
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid"
      >
      <div fxFlex="100%">
        <div class="alert alert-info" role="alert">
          <h4>Insufficiency Clearance Remarks: </h4>
          @for (insuffRemark of mainForm.get('screeningComponentInfo.insuffRemark')?.value; track insuffRemark; let count = $count; let i = $index) {
            <span
              >
              {{count>1? i+1 :''}} {{insuffRemark}}<br> </span>
            }
          </div>
        </div>
      </div>
    }
    @if (showInSuff) {
      <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
        fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
        <div fxFlex="100%">
          <app-raise-insufficiency [docdata]="docdata" [docList]="docList" [mainForm]="mainForm"
            [compBaseDetails]="mainForm.get('screeningComponentInfo').value" [formgroupName]="'screeningInsufficiency'">
          </app-raise-insufficiency>
        </div>
      </div>
    }
    <div fxLayout="row wrap" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutGap="20px grid" fxLayoutGap.sm="0px grid" fxLayoutGap.xs="0px grid">
      <div fxFlex="100%">
        <app-screening-documents [fileBtn]="fileBtn" [mainForm]="mainForm" [formgroupName]="'screeningComponentInfo'"
        [dupScreeningDoc]="screeningComponent.componentDocument" [validationFlag]="nFlag !== true &&userData.applicationId === 3 ? true : false"></app-screening-documents>
      </div>
    </div>
  </form>
