<div fxLayout="row" class="b-crumb">
  <div>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/dashboard/home">Dashboard</a></li>
      <li class="breadcrumb-item active">All Components</li>
    </ol>
  </div>
  <div fxFlex="100%" class="b-crumb-toolbar">
    <div class="btnTool" fxLayoutGap="10px">
      <button mat-icon-button matTooltip="Add" matTooltipClass="accent-tooltip"> <i class="icon-plus"></i> Add </button>
      <button mat-icon-button matTooltip="Save" matTooltipClass="accent-tooltip"> <i class="icon-save"></i>Save
      </button>
      <button mat-icon-button matTooltip="Edit" matTooltipClass="accent-tooltip"> <i
          class="icon-new-message"></i>Edit</button>
    </div>
  </div>
</div>
<!-- Department Details  -->
<div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutGap="0px">
  <div fxFlex="100%" class="mat-box dt-viewBg">
    <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="0px"
      fxLayoutGap.sm="20px" fxLayoutGap.xs="20px">
      <div fxFlex="20%" fxFlex.lg="20%" fxFlex.md="20%" fxFlex.sm="100%" fxFlex.xs="100%" class="border-right">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
          <div fxFlex="100%">
            <h4>Team</h4>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column">
          <div fxFlex="100%">
            <div class="dt-list-scrollbar" style="overflow:auto">
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg1">DP</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-528</h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">18-12-1987</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip"> Devasenapathy P</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list active">
                  <div class="team-details">
                    <div class="avatar avatarBg2">NF</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-BST-9 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">01-08-1990</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Nehalben
                        Chandubhai Fumakiya</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg3">SS</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-INS-1 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">10-10-1995</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Syed Samoon </p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg4">SC</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-INS-3 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">30-06-1988</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Sreejith C </p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg5">AP</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-VSM-2 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">01-01-1900</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Alkeshkumar
                        Prahladbhai Patel</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg1">SG</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="Krya Ref #" matTooltipClass="accent-tooltip">AC-ALL-10 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">06-12-1989</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Shikha Gogia </p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg1">MH</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">AC-HTC-13 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">17-11-1992</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Mangesh
                        Jagannath Hiwrale</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg2">SB</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">AC-NC-201 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">17-04-1985</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Sunil BL</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg3">MK</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">AC-SAL-54 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">20-06-1988</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Muthu Kumar </p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg4">SN</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">AC-SAL-55 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">13-07-1983</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">SenthilKumar
                        N</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg5">AK</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">DS190-00 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">26-07-1981</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Arunachalam
                        Kumar</p>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="0px">
                <div fxFlex="100%" class="dt-list">
                  <div class="team-details">
                    <div class="avatar avatarBg2">BK</div>
                    <div class="teamL-Detail Report">
                      <h5 matTooltip="A-Check Ref #" matTooltipClass="accent-tooltip">IN865974 </h5>
                      <dt matTooltip="DOB" matTooltipClass="accent-tooltip">13-09-1987</dt>
                      <p matTooltip="Candidate Name" matTooltipClass="accent-tooltip">Geethanjali
                        K</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="80%" fxFlex.lg="80%" fxFlex.md="80%" fxFlex.sm="100%" fxFlex.xs="100%">
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutGap="20px">
          <div fxFlex="100%" class="ReportView">
            <div fxLayout="row" fxLayoutGap="20px">
              <div fxFlex="65%">
                <p>
                  <label>Candidate Name</label>
                  <span>Nehalben Chandubhai Fumakiya</span></p>
              </div>
              <div fxFlex="35%" class="Rt">
                <ul>
                  <li>
                    <p>
                      <label>A-Check Ref. #</label>
                      <span class="text-sm text-semi-bold">AC-BST-9</span></p>
                  </li>
                  <li>
                    <p>
                      <label>D.O.B</label>
                      <span class="text-sm text-semi-bold">01-08-1990</span></p>
                  </li>
                  <li>
                    <p>
                      <label>Case Status</label>
                      <span class="text-sm text-semi-bold">Insuff</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"
          fxLayoutGap="20px" class="teamdata-view">
          <div fxFlex="70%" fxFlex.lg="70%" fxFlex.md="70%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="column"
              fxLayout.xs="column" fxLayoutGap="20px grid" class="d-view">
              <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%" class="pb-0">
                <p>
                  <label>Applicant ID:</label>
                  <span>BS0351</span></p>
                <p>
                  <label>Client Name:</label>
                  <span>Bharti Soft Tech Pvt Ltd</span></p>
                <p>
                  <label>Client Location:</label>
                  <span>BHARTI-SOFT</span></p>
                <p>
                  <label>Package:</label>
                  <span>Individual Component</span></p>
              </div>
              <div fxFlex="50%" fxFlex.lg="50%" fxFlex.md="50%" fxFlex.sm="50%" fxFlex.xs="100%" class="pb-0">
                <p>
                  <label>Case Sent Date:</label>
                  <span>10-02-2020</span></p>
                <p>
                  <label>Case Initiation Date:</label>
                  <span>12-02-2020</span></p>
                <p>
                  <label>Case Due Date:</label>
                  <span>02-03-2020</span> </p>
                <p>
                  <label>Agreed TAT (Days):</label>
                  <span>15</span> </p>
              </div>
              <div fxFlex="100%">
                <p class="whitespace-preline">
                  <label>SOW under Package:</label>
                  <span fxFlex="100%"> <span class="cn-chip">EDU - 1</span> <span class="cn-chip">EMPHR - 2</span> <span
                      class="cn-chip">Current Address - 1</span> <span class="cn-chip">CRIDB - 1</span> <span
                      class="cn-chip">PAN - 1</span> <span class="cn-chip">Aadhaar Auth - 1</span> <span
                      class="cn-chip">REF - 3</span> <span class="cn-chip">Online CRC(internal) - 2</span> </span> </p>
              </div>
            </div>
            <hr>
            <div fxLayout="row wrap" fxLayout.lg="row wrap" fxLayout.md="row wrap" fxLayout.sm="row wrap"
              fxLayout.xs="column" fxLayoutGap="20px grid" class="tbl-doc">
              <div fxFlex="100%" fxFlex.lg="100%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
                <h3 class="sub-header">Components Details</h3>
                <div class="rptDgnCompon-scrollbar" style="overflow:auto">
                  <div fxLayout="row">
                    <div fxFlex="100%">
                      <div class="history-view">
                        <div class="dt">Raised Date:
                          <label>30-09-2019</label>
                          <span fxFlex></span>End Date:
                          <label>30-09-2019</label>
                        </div>
                        <div class="uname m-0">Address <span fxFlex></span> <span class="green">WIP</span></div>
                        <p>NO. 5/693C, Mahalaxmi Street, Otteri Extn, Vandalur, Chennai - 600048.</p>
                        <p class="text-dull">As there is an overlap in the period of employment to employment between
                          Digicorp Information Systems Pvt Ltd 02/Feb/2015 and 30/Sep/2016 and TechnoBrave Technologies
                          Private Limited 19/Sep/2016 to Not Provided. Kindly re-confirm.</p>
                      </div>
                      <div class="history-view">
                        <div class="dt">Raised Date:
                          <label>30-09-2019</label>
                          <span fxFlex></span>End Date:
                          <label>30-09-2019</label>
                        </div>
                        <div class="uname m-0">National Identity Check<span fxFlex></span> <span class="red">Close - Gen
                            (Letter Conf Rcvd.)</span></div>
                        <p>No.3/458, Rajagopalapuram, 3rd Street, Moulivakkam, Porur, Chennai - 600116.</p>
                        <p class="text-dull">--</p>
                      </div>
                      <div class="history-view">
                        <div class="dt">Raised Date:
                          <label>30-09-2019</label>
                          <span fxFlex></span>End Date:
                          <label>30-09-2019</label>
                        </div>
                        <div class="uname m-0">Education<span fxFlex></span> <span class="red">Close - Gen (Letter Conf
                            Rcvd.)</span></div>
                        <p>ANNA UNIVERSITY , MASTER OF BUSINESS ADMINISTRATION</p>
                        <p class="text-dull">--</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="30%" fxFlex.lg="30%" fxFlex.md="30%" fxFlex.sm="100%" fxFlex.xs="100%" class="border-left pl-20">
            <div class="rptDgnFRSR-scrollbar" style="overflow:auto">
              <div fxLayout="row" fxLayoutGap="20px">
                <h3 class="sub-header">FR Details</h3>
              </div>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="100%" class="subteam-data">
                  <p>
                    <label>IR Date :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>FR Status :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Color Code :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Discrepancy Remarks :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>FR Sent Date :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>FR TAT (Days) :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>FR TAT Status :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>FR Delay reason :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Re-verification/
                      Reinitiation Status :</label>
                    <span>N/A</span></p>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="20px">
                <h3 class="sub-header">SR Details</h3>
              </div>
              <div fxLayout="row" fxLayoutGap="20px">
                <div fxFlex="100%" class="subteam-data">
                  <p>
                    <label>SR Sent Date :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>SR TAT (Days) :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>SR TAT Status :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>SR Delay Reason :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Abroad Component :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Invoice # :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Invoice Date :</label>
                    <span>N/A</span></p>
                  <p>
                    <label>Institute / Employer name :</label>
                    <span>N/A</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>